[2014-07-25 18:42] DamianEdwards opened #7 "Support serving of pre-GZIP encoded files"
Pre-GZIPping files is seemingly becoming more popular. This involves running a tool ahead of deployment that creates GZIPped copies of suitable files in the site, e.g. site.js => site.js.gzip. Then the file serving aspect of the web server will serve the GZIPped file when appropriate.

[2014-09-10 03:24] davidfowl opened #8 "Use IHostingEnvironment.WebRoot to as the base for the static file server"
Depends on https://github.com/aspnet/Hosting/issues/71 . This will make the static file server work in all scenarios.

[2014-10-03 00:52] DamianEdwards opened #10 "Consolidate UseStaticFiles/UseFileServer into a single method"
It should be a single method with options.

[2014-10-06 07:02] satish860 opened #11 "File sever vs static files"
1)What is the difference between file server and static files.

 2) when the static files option is added to app builder it doesn't allow directory browsing.. But if I host it in IIs will the option be available.

[2014-10-06 07:05] #11 closed, assigned to nobody

[2014-10-20 22:25] #8 closed, assigned to Tratcher

[2014-10-22 14:28] clintkolodziej opened #12 "Remove IHostingEnvironment.cs as it is already in Microsoft.AspNet.Hosting"
The file IHostingEnvironment.cs already exists Microsoft.AspNet.Hosting, I believe it is not needed locally in this project and can be removed.

[2014-10-22 14:46] #12 closed, assigned to nobody

[2014-12-05 22:02] mattjohnsonpint opened #16 "StaticFileContext.LastModified should be a DateTimeOffset"
To prevent time zone ambiguity, `LastModified` on `StaticFileContext` should probably be a `DateTimeOffset` rather than a `DateTime`.  Otherwise, there's no clean way to ensure that the value was obtained through a UTC-based source.

This first needs to be fixed in `IFile` and `IFileSystem` (and implementations) as discussed in  https://github.com/aspnet/FileSystem/issues/9

This is especially imp

[2014-12-19 17:05] Tratcher opened #18 "Send Accept-Ranges: bytes"
https://tools.ietf.org/html/rfc7233#section-2.3

[2014-12-24 07:08] anfomin opened #21 "`StaticFileContext` constructor throws exception"
`StaticFileContext` has variable `_lastModified`. It's type changed from `DateTime` to `DateTimeOffset` some time ago. But constructor has invalid initialization at line 61:

[code]

This should be:

[code]

[2014-12-24 17:21] Praburaj opened #23 "latest StaticFiles package causing error"
_From @devmondo on December 24, 2014 10:43_

if i remove the following from Startup.cs everything works fine
[code]

but if i add it, i get the following error if i am browsing to any page, like "http://localhost/home" but serving static files works fine.
[code]

_Copied from original issue: aspnet/Home#249_

[2014-12-29 17:31] #21 closed, assigned to pranavkm

[2014-12-29 18:03] #16 closed, assigned to pranavkm

[2015-01-09 19:14] #23 closed

[2015-01-12 08:27] borgdylan commented on #10
I switched from static files to file server just because only the latter allows me to enable directory browsing. If static files allowed this it might be easier to make them into one set of extensions.

[2015-01-15 00:12] #18 closed

[2015-01-19 10:22] borgdylan opened #25 "Feature Request: Files without extension or .json extension are not served"
I tries to server a a json file named 1.json by means of the static files middleware and i got a 404. However when i changed the extension to .txt, the file was served.

[2015-01-19 13:20] Tratcher commented on #25
By design. See https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/FileExtensionContentTypeProvider.cs

The static file middleware uses the file extension to look up the content-type, and will only serve files with known & allowed content-types by default. ".json" is not listed and therefor will not be served by default. You can add it to the list if you want to serve t

[2015-01-21 00:30] #25 closed

[2015-01-27 19:38] bdelaney opened #26 "Is this unecessary if you are referencing IIS"
In a vNext project, do you need this referenced when you already have Microsoft.AspNet.Server.IIS referenced in project.json?

[2015-01-27 20:03] Tratcher commented on #26
This package is primarily for use outside of IIS. When running in IIS you can choose to use either the native module or this package. Note you need to enable RAMFAR to use this package in IIS.

[2015-01-27 22:50] Eilon commented on #26
Indeed, each has slightly different functionality so even in IIS you might want to use the StaticFiles middleware.

[2015-01-30 08:48] borgdylan commented on #26
This middleware should be included always if you want to have an app that can be hosted on any ASP.NET 5 compatible server. It will do no harm to have it on IIS

[2015-01-30 22:30] Eilon commented on #26
@borgdylan yup that's why I do in most of my web projects.

[2015-02-04 19:29] vbnewb opened #28 "Additional MIME types"
I know that I can add additional ones myself but I was wondering if there was a specific reason why woff2 hadn't made it in yet. Thanks in advance!

[2015-02-05 00:37] Eilon commented on #28
I believe the current list is based on what IIS / ASP.NET historically used by default. A tricky aspect of changing the default list here is that if the web server (e.g. IIS) does its own static file handling, changing the MIME mappings here won't do anything because the Static File middleware won't be used. However, it's perhaps fair to consider that user error; that is, the user has to configure

[2015-02-05 00:45] Praburaj commented on #28
I think we should add this MIME type. In katana we added this already. Probably this was missed from porting.
http://katanaproject.codeplex.com/SourceControl/diff/file/view/24aa43641adac57cb5bd523b77bdc0ced9f0455d?fileId=src%2FMicrosoft.Owin.StaticFiles%2FContentTypes%2FFileExtensionContentTypeProvider.cs

[2015-02-13 02:27] GrabYourPitchforks opened #29 "Prefer the new encoders over the old WebUtility APIs"
There are still some call sites in the StaticFiles code base that invoke WebUtility.HtmlEncode.  These call sites should instead use IHtmlEncoder.HtmlEncoder.

[2015-02-13 23:14] Praburaj commented on #29
How should I get this service from static files. Can I instantiate an object of type `HtmlEncode`?

[2015-02-13 23:19] Praburaj commented on #26
Closing this as question seems to be answered.

[2015-02-13 23:19] #26 closed

[2015-02-13 23:46] #28 closed

[2015-02-14 08:37] GrabYourPitchforks commented on #29
You'll be able to pull an instance of IHtmlEncoder from the DI framework.  We're still figuring out who is responsible for registering these instances in the first place. :)

[2015-02-17 01:14] GrabYourPitchforks commented on #29
The types `IHtmlEncoder`, `IJavaScriptStringEncoder`, and `IUrlEncoder` are in the Microsoft.AspNet.WebUtilities package. To register them from within your own AddServices method, reference the Microsoft.AspNet.Http.Extensions package and call `AddEncoders`.

[2015-02-20 21:19] #29 closed

[2015-02-26 03:10] dfbaskin opened #32 "Using aliases for static files"
I'd like to be able to create aliases for static files. A use case would be to have URLs without the `.html` extension, but which correspond to static files. For example, I'd like to have a URL similar to `http://myserver/abc` that corresponds to a file `wwwroot/abc.html`.

The `StaticFileContext` class is marked as internal so it can't be used directly, so I resorted to delegating to an instance

[2015-02-26 05:44] Tratcher commented on #32
Maybe you could do something similar to the DefaultFilesMiddleware as shown here: https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/DefaultFilesMiddleware.cs#L54

It examines the request path and checks if it maps to a known static file directory. Then it checks if any files with default names exist in that directory. If it finds one it re-writes the path and then let

[2015-02-27 02:06] dfbaskin commented on #32
Yeah, that makes more sense.

[code]

[2015-02-27 03:06] Tratcher commented on #32
Looks reasonable.  It's interesting that you choose to actively block requests that already had a .html extension.

[2015-02-27 11:24] AustinFelipe opened #34 "application/font-woff2 not working when using Asp.Net VNext"
I'm doing some experiments with VNext + OSX + Chrome. I'm trying to get a woff2 file

    GET http://localhost:5003/fonts/fontawesome-webfont.woff2?v=4.3.0

But an error occur. See the request's header below

    Remote Address:127.0.0.1:5003
    Request URL:http://localhost:5003/fonts/fontawesome-webfont.woff2?v=4.3.0
    Request Method:GET
    Status Code:404 Not Found

This is my Startup.cs

[2015-02-27 13:32] borgdylan opened #35 "Serving of files is broken"
Since the HTML encoders enablement, serving of HTML, images etc. has been broken.  Only javascript is being served. Are encoders being demanded even when none are desired?

[2015-02-27 15:04] borgdylan commented on #35
The middleware is returning 206 Partial Content instead of the usual 200 OK.

[2015-02-27 17:39] Eilon commented on #34
Which package version of StaticFiles are you using? This change is only in the newest builds, it wasn't in beta3. It's in beta4 builds only.

[2015-02-27 17:40] Eilon commented on #35
Can you clarify what's broken?

[2015-02-27 17:41] borgdylan commented on #35
I seem to only manage to serve JS files.

[2015-02-27 17:57] Eilon commented on #35
Which server are you using? (Kestrel, IIS, WebListener, etc.) Anything else interesting about the app? I want to make sure we have enough info to try to reproduce the issue.

[2015-02-27 18:00] borgdylan commented on #35
I am using Nowin on Mono.

[2015-02-27 18:24] #35 closed

[2015-02-28 13:13] AustinFelipe commented on #34
Oh, I'm using the beta3. Installing via homebrew it seems to be the lastest version.

[2015-02-28 13:30] #34 closed

[2015-03-04 21:07] borgdylan opened #36 "StaticFiles is broken on OWIN servers"
After checking with the Hosting repo which fixed OWIN in general, serving of static files is still broken. MVC works OK.

[2015-03-11 23:10] Praburaj commented on #36
@borgdylan I tried static file middleware and MVC with the Entropy sample - with Nowin (server factory is in the same project as the app) as well as moved the serverfactory to a different project and tried that as well. I can't reproduce the static file issue. Can you try again with latest bits?

[2015-03-12 00:31] HaoK opened #41 "Revisit StaticFileMiddleware use of options"
Its taking an instance of StaticFileOptions instead of using IOptions (see Security Auth Middleware for comparison)

[2015-03-12 17:53] Praburaj opened #43 "Should UseSendFileFallback IApplicationBuilder extension live in Microsoft.AspNet.Builder like all other extensions"
https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/SendFileExtensions.cs#L20

This probably is the only IApplicationBuilder extension in our code base living in a different namespace.

[2015-03-12 21:39] muratg commented on #43
Yes, folks shouldn't have to add a using statement to use the extensions.

/cc @glennc

[2015-03-12 21:55] Tratcher commented on #43
This was intentional. This is a piece of infrastructure that will rarely be used directly by app developers.

We've used this approach elsewhere too, its not unique.

Sent from my Windows Phone
________________________________
From: Murat Girgin<mailto:notifications@github.com>
Sent: ‎3/‎12/‎2015 2:40 PM
To: aspnet/StaticFiles<mailto:StaticFiles@noreply.github.com>
Subject: Re: [StaticFiles] Shoul

[2015-03-12 21:57] Praburaj commented on #43
@Tratcher sounds good.

[2015-03-12 21:57] #43 closed

[2015-03-16 23:11] Praburaj commented on #36
No - repro. @borgdylan If you could still reproduce feel free to reopen the issue.

[2015-03-16 23:11] #36 closed

[2015-04-05 17:59] davidfowl opened #50 "Remove dependency on Logging"
https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/project.json#L9

[2015-04-24 01:24] matthewDDennis opened #52 "StaticFiles not returning modified files"
Updated to latest from the nighties today and only unchanged files were getting 304.  modified files were getting 404.

[2015-04-24 15:27] matthewDDennis commented on #52
To clarify, I've debugged with the staticFiles src, and found that in StaticFileContext.LookupFileInfo, when _subPath.Value = "/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css", which does exist, the call to
fileInfo = _options.FileProvider.GetFileInfo(_subPath.Value);
results in fileInfo.Exists == false;

[2015-04-24 16:47] matthewDDennis commented on #52
Renaming the /lib/bootstrap and /lib/bootstrap-touch-carousel directories to bootstrap and bootstrap-carousel fixed the issue.  Maybe grunt mangled the names when it copied the files?  I couldn't see any funny characters.

[2015-04-24 16:52] matthewDDennis commented on #52
Just a not, these were the only copied directories that had /dist/**/ in the copy instructions.
[code]

[2015-04-27 21:04] #50 closed

[2015-05-11 16:58] Tratcher opened #57 "More overloads for UseStaticFiles"
There are currently only two convenience overload for UseStaticFiles, one with no params for the base request path and wwwroot folder, and one that lets you set alternate requests paths to map to wwwroot.

We need at least one more overload that lets you select a file path (relative to wwwroot) that maps to the base request path. An additional overload that let you set both the request path and th

[2015-06-04 10:29] Bartmax commented on #10
Doesn't removing the `StaticFileOptions` makes it configure with something like

[code]

That looks better than having 2 extension imho.

[2015-06-09 16:02] vbnewb opened #59 "StaticFiles 404 after time elapsed"
Team,
I've been using beta4 and everything appears to work great initially but after some time (ie 2 hours of testing with users) the static files (js files mostly) start returning 404 this continues until i restart the app pool.

So far I've seen nothing being logged except the 404 in IIS and from .NET using logging middleware for Information level or above.

**EDIT**
Read that StaticFiles middle

[2015-06-09 16:48] Tratcher commented on #59
This isn't actionable without a repro. Can you work out a repro app and commit it to github?

[2015-06-12 14:35] vbnewb commented on #59
I have not tracked down the issue yet but it exists even when not using StaticFiles. I will close the issue.

[2015-06-12 14:35] #59 closed

[2015-07-06 15:48] RehanSaeed commented on #28
Please also add the following MIME types which I have found to be missing:

- .json - application/json (This one is pretty unbelievable)
- .ttc - application/x-font-ttf
- .webp - image/webp
- .appcache - text/cache-manifest
- .manifest - text/cache-manifest

Also the following MIME types need updating:

- .ttf should be application/x-font-ttf and not application/octet-stream

[2015-07-06 16:15] Eilon commented on #28
@RehanSaeed can you log a new issue for these?

[2015-07-06 18:59] RehanSaeed commented on #28
@Eilon I've created a new Pull Request https://github.com/aspnet/StaticFiles/compare/dev...RehanSaeed:patch-1

[2015-07-06 19:03] Eilon commented on #28
Can you log a bug too? We need bugs in the system so that we can track which issues were fixed when we generate release notes.

[2015-07-06 19:06] RehanSaeed opened #63 "Added/Updated MIME Types"
Added the following MIME types which I have found to be missing:

- .json - application/json (This one is pretty unbelievable)
- .ttc - application/x-font-ttf
- .webp - image/webp
- .appcache - text/cache-manifest
- .manifest - text/cache-manifest

Also the following MIME types need updating:

- .ttf should be application/x-font-ttf and not application/octet-stream

I've created a new Pull Request

[2015-07-06 19:06] RehanSaeed commented on #28
Done https://github.com/aspnet/StaticFiles/issues/63

[2015-07-07 17:27] muratg commented on #63
@RehanSaeed Could you create a GH pull request (based on your check-in) so that we can put code review comments?  Thanks.

[2015-07-07 19:31] RehanSaeed commented on #63
@muratg Here you go https://github.com/RehanSaeed/StaticFiles/commit/545fa9e70a8308097554dc56ed0e82feb309bb34

[2015-07-09 19:00] #63 closed

[2015-07-16 13:45] csunali opened #65 "Static files returning 404"
Here is the scenario;

- Application uses the `StaticFiles` middleware.
- `StaticFiles` has `StaticFilesOptions` where `FileProvider` property is set to a custom provider (`EmbeddedFileProvider`). `EmbeddedFileProvider` accepts a `PhysicalFileProvider` instance which is used to check if the file physically exists. If it does, `EmbeddedFileProvider` just uses the `PhysicalFileProvider` to return th

[2015-07-16 15:18] Tratcher commented on #65
Can you push your repro app to github so we can clone and try it?

[2015-07-16 16:39] csunali commented on #65
Here is a sample repo: https://github.com/csunali/StaticFiles404

Clear steps to reproduce the issue are below.

Working scenario:

- Set the "Launch Browser" property of the web project to "empty" and hit F5. Homepage should appear correctly at `http://localhost:41002/`. Keep the project running.
- Visit `http://localhost:41002/lib/foo.js`. The embedded javascript should appear correctly - so tha

[2015-07-28 22:17] Tratcher opened #66 "Always use UTC time"
Ported from: http://katanaproject.codeplex.com/SourceControl/network/forks/uecasm/LastModified/contribution/8369#!/tab/changes

https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/StaticFileContext.cs#L137

LastModified from the file info might be in local time. We should convert it to UTC before attempting any comparisons.

The switch to strongly typed headers at least

[2015-07-29 00:16] Tratcher commented on #65
Repro'd. This is an IIS/Express integration bug, not a bug with the static file middleware. It does not repro with WebListener.

Here's what I think is happing:
A) Working scenario:
- First request arrivies, pointing to "/"
- IIS boots the managed pipeline, Startup runs, everything is set up, then the request is served.
- Subsequent requests for "/lib/foo.js" are executed via the managed pipeline

[2015-07-29 18:05] Tratcher commented on #65
Some additional details:
- The contents of your app do not matter, only the repro steps themselves. I was able to repro it with just the empty template.
- IIS appears to give priority to whichever module was loaded first.
- The problem exists in both full IIS and IIS Express.

Workaround: Add the following to your web.config after publishing
[code]

[2015-07-29 18:14] csunali commented on #65
Glad you were able to repro.

Should I take any additional actions on this matter or you will take care of the rest? I mean, shall I create an additional issue on another repo where it suits better for IIS integration issues? If so, where?

[2015-07-29 18:16] csunali commented on #65
Thank you for the workaround by the way.

[2015-07-29 18:23] Tratcher commented on #65
We'll take care of it, thanks.

[2015-07-29 18:25] Tratcher commented on #65
This issue was moved to aspnet/Helios#188

[2015-07-29 18:25] #65 closed

[2015-07-29 21:40] uecasm commented on #66
The timezone offset of `_lastModified` is retained, so in theory it should do comparisons correctly regardless of whether they're local or universal.  Though it wouldn't hurt to confirm that as I haven't used `DateTimeOffset` much myself.

[2015-07-30 23:12] jskulavik commented on #57
This is a critical enhancement IMHO.  As it stands today, I cannot host static files in ASPNET5 can I?  Please advise; do I need middleware to host static files?

@Tratcher: In your above snippet, where does "hostingEnv" come from?  Would that snippet work?  Absolute paths with PhysicalFileProvider do not work and throws System.IO.DirectoryNotFoundException.

[2015-07-30 23:34] Tratcher commented on #57
IHostingEnvironment: https://github.com/aspnet/Docs/blob/dev/aspnet/contribute/style-guide/_static/startup.cs

[2015-07-31 05:30] jskulavik commented on #57
My goodness @Tratcher, that's the most simple and beautiful resolution.  Thank you very much.

[2015-09-04 17:46] muratg commented on #32
Looks like there's a solution :)

[2015-09-04 17:46] #32 closed

[2015-09-08 17:10] muratg commented on #41
@HaoK do you think this is still an issue?

[2015-09-08 17:38] HaoK commented on #41
Can close we have a main tracking issue in options now for this general issue

[2015-09-08 18:38] #41 closed

[2015-09-11 17:48] muratg commented on #52
What server are you using?

cc @Tratcher

[2015-09-14 18:00] muratg commented on #52
I assume you're using Helios and IIS.  Putting this in the Backlog.

[2015-09-21 21:20] markentingh opened #67 "text/css sent as text/plain"
I upgraded from beta5 to beta7 today and everything is working beautifully, except that now my CSS files are skipping the `app.UseStaticFiles()` handler and being processed by `app.Run()`, so all CSS files are being sent to the browser as MIME-type `text/plain`.

I even tried adding this line of code:

    ((FileExtensionContentTypeProvider)options.ContentTypeProvider).Mappings.Add( new KeyValuePa

[2015-09-21 22:03] #67 closed

[2015-09-24 01:11] rynowak opened #69 "Add/Update logging in static files middleware"
From offline logging discussion:

Add Verbose logging where it can be useful for debugging
- Time box to 2 dev-days maximum (across all of k-core)
- Use EventIds at each logging statement
- Update any existing logging to include an EventId

Relevant logging points we want to include for sure:

[code]

[2015-09-24 01:12] rynowak commented on #69
/cc @muratg

[2015-09-24 04:39] muratg commented on #69
@Tratcher Looks like a good suggestion. Want to take a stab at very early RC1?

[2015-09-24 15:41] Tratcher commented on #69
`Did not serve a file` would fire for almost every request, sounds like it should be verbose or debug.  @rynowak Any examples of work already done that uses EventIds?

[2015-09-24 15:55] rynowak commented on #69
Yes, not-serving a file would be Verbose.

[2015-09-24 18:18] danroth27 opened #70 "Need a way to handle authorization for static files"
In ASP.NET 4.6 you can use the Authorization module to handle authorization for static file requests. We need some what to handle authorization for static files in ASP.NET 5.

@blowdart

[2015-09-24 18:21] blowdart commented on #70
My feeling here is we don't want yet another middleware for this. The Static File middleware should detect the authorization service and enable configuration of policies by path, file type, regex (*kidding - NO REGEX*) or whatever other filtering mechanism they wish to implement.

Pushing responsibility off to another middleware, which then becomes order dependent is a path of failure and undiscov

[2015-09-30 22:58] Tratcher opened #72 "Add Windows specific tests"
https://github.com/aspnet/StaticFiles/pull/71#issuecomment-144259485
The tests were cleaned up to run on Linux/mac/travis, but we're no longer testing some Windows specific behaviors.
- `\` vs `/`
- Case insisitivity

[2015-10-02 15:55] Junicus opened #73 "CSS/JS files returning 404 on site published on azure in a virtual directory"
I have a site generated from the default template where I edited the site.css provided and added some extra js files.  When I publish to azure as a root website it works perfect, now I need to publish to a different site but as a virtual directory.

I configured the virtual directory in the azure portal and changed the publishing profile to include the site name and url destination like so:

in Az

[2015-10-02 16:24] Junicus commented on #73
Checked the detailed log of the azure site and the error says that StaticFile is indeed the one setting the 404 code.  It is looking at the physical path D:\home\site\dashboard\js\site.js in the log that I looked at.
Don't know if this is the correct full path for an azure website, anybody with more experience in this can confirm that the path is normal for an azure website.

[2015-10-02 16:34] Tratcher commented on #73
The static file middleware never sets 404 status codes. What you're seeing in the log is probably the IIS static file native module. It is often short circuits requests that resemble static files before they reach asp.net. You can work around this by adding the following to your web.config:
[code]

FYI: This shouldn't be needed anymore after we release beta8 due to changes in our IIS hosting.

[2015-10-02 17:28] muratg commented on #73
Per [the changes in our IIS hosting strategy](https://github.com/aspnet/Announcements/issues/69), this wouldn't be a problem after Beta 8 ships.  In the meantime, please use the workaround @Tratcher  suggested, and if it doesn't fix your problem let us know.  Thanks.

[2015-10-02 17:28] #73 closed

[2015-10-02 17:30] Junicus commented on #73
I made the change you suggested to the web.config, and published the site again.  Turned on logs again and the same error is still showing.

You were right it's the IIS log, it's the html page and I was opening it in Code.  It tripped me that it said Module ManagedPipelineHandler and the handler is StaticFile.  Can't be sure if the physical path is right, since I don't know if I could even get ful

[2015-10-02 17:40] Tratcher commented on #73
The vdir may be throwing off your site layout. The vdir should only change your url, your underlying file layout should remain the same.

Layout:
vdir: /dashboard
vdir target: site/wwwroot
app root: site/approot
static files: site/wwwroot
web.config: site/wwwroot/web.config
css: site/wwwroot/css/site.css
etc..

[2015-10-02 18:34] Junicus commented on #73
I get that and it would be fine if there wasn't another app in wwwroot, in this case it's an installation of WordPress from the azure gallery, so I can't use wwwroot for the vdir target.  Unless I change the path for the WordPress site but that is live and it would be very unfortunate if the site went down because I mucked about in that part of it.

I think I have a solution to my problem, but wan

[2015-10-02 21:06] Junicus commented on #73
The issue was indeed the webroot path set in project.json.  I edited the published file and it fixed the 404 issue.

[2015-10-10 07:10] davidfowl opened #75 "Why do we need StreamCopyOperation"
Why aren't we using CopyToAsync directly?

https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/StreamCopyOperation.cs

/cc @Tratcher

[2015-10-12 17:52] Tratcher commented on #75
long? length, you may not be sending the entire source stream.

[2015-10-23 10:49] jovnas opened #77 "PhysicalFileProvider could use a Credentials option."
(In Startup.cs)

    app.UseFileServer(new FileServerOptions
    {
        RequestPath = new PathString("/webpath"),
        FileProvider = new PhysicalFileProvider(@"\\other.server\share\subfolder"),
        EnableDirectoryBrowsing = false
    });

This only works if the application is running as a user with access to the share.
I believe that passing specific credentials into the PhysicalFilePro

[2015-10-23 22:29] #69 closed

[2015-10-26 16:47] muratg commented on #72
We'll finish in RC2

[2015-11-11 23:35] muratg commented on #77
@jovnas Should this be filed in FileSystem repo instead?

[2015-11-12 06:22] dougbu opened #79 "Logging: Suggest silencing normal operations at `LogLevel.Information`"
Current output from this repo does not add much over that from Hosting at `LogLevel.Information`. Appears even more redundant with scopes included. Suggest moving output about non-events like an unmodified file to `LogLevel.Verbose`.

An example from RC1's MusicStore app with info messages enabled:

[code]

[2015-11-12 08:21] jovnas commented on #77
Oops! My bad.
Since StaticFiles was the feature that was affected, I just assumed it belonged here.
Will add the issue to FileSystem instead.

[2015-11-12 08:21] #77 closed

[2015-11-17 19:57] Fosol opened #80 "Static Files and Cors"
I'd like to add CORS header values to static files.  Anyone want to point me in the right direction?  I don't seem to be able to app.UseCors().

[2015-11-17 22:22] Eilon commented on #80
@kichalla any thoughts on this?

[2015-11-18 00:15] kichalla commented on #80
@Fosol Can you share what your scenario is where you need this? Normally GET requests to static files for example, when a html page is being rendered(let's say at origin A) and the images are being pulled from other origin(let's say origin B)) , the scenario should just work fine without origin B doing anything related to Cors...this would work as these GET requests are classified as `Simple reque

[2015-11-18 00:34] Fosol commented on #80
Technically I don't need CORS headers for static files.  We were having XSS issues but I found out it wasn't related to static files.

I would like to add headers to static files.  So far I haven't been able to do this.

[2015-11-18 18:06] BrennanConroy commented on #72
0708c3433127db527b6160bbda11a047499ac9e9

[2015-11-18 18:06] #72 closed

[2015-11-18 18:29] kichalla commented on #80
I see that you have figured out how to add headers to the response...closing this issue now...
https://github.com/aspnet/HttpAbstractions/issues/483

[2015-11-18 18:29] #80 closed

[2015-11-18 18:30] Fosol commented on #80
Thanks!

[2015-11-19 01:36] kspearrin opened #82 "Serve index.html by default"
I've got a very simple angualr app project that needs to do nothing more than serve static files from `wwwroot`. Here is my Startup.cs:

    public class Startup
    {
        public void ConfigureServices(IServiceCollection services) { }

        public void Configure(IApplicationBuilder app)
        {
            app.UseIISPlatformHandler();
            app.UseStaticFiles();
        }

        /

[2015-11-19 02:54] davidfowl commented on #82
Change UseStaticFiles to UseFileServer

[2015-11-19 03:17] kspearrin commented on #82
That did it. Thank you.

[2015-11-19 03:17] #82 closed

[2015-11-24 19:07] brentnewbury opened #84 "Invalid characters in the request URL causes an ArgumentException to be raised"
A request with invalid characters (e.g. `/%3C` _**[edit]**_ which is URL decoded to `<`) causes an `ArgumentException` to be raised. This produces an HTTP 500 error to be returned to the client, rather than the expected  HTTP 404.

Below if the stack trace from the exception:
[code]

[2015-11-24 21:15] brentnewbury commented on #84
Wondering if we should check for invalid path characters as part of the `StaticFileContext.ValidatePath()` method call in `StaticFileMiddleware.Invoke(HttpContext context)`? I would expect a method called `ValidatePath` to do something appropriate with invalid characters in the path, i.e. return `false` in this case.

The odd thing is the log output would be "The request path {Path} does not match

[2015-11-25 20:41] brentnewbury commented on #84
I wanted to take a whack at fixing this issue, but I think the solution might warrant some discussion.

For example, do we strip invalid characters from the request in the static file middleware? Do we check for invalid characters in `ValidatePath()`, return false if we find any, and change the error message outputted by the middleware after the call? Do we add a new method which checks for invali

[2015-11-25 22:16] brentnewbury commented on #84
Let me know if that potential solution is good enough for a pull request. I've renamed the existing `ValidatePath()` method to `MatchPath()` as that's what it's doing. Then added a new `ValidatePath()` method that will check for invalid characters (and potentially other path validation in the future).

[2015-11-26 15:55] Tratcher commented on #84
Related: https://github.com/aspnet/FileSystem/pull/147

[2015-11-26 18:09] brentnewbury commented on #84
Just looked through that issue @Tratcher, and I agree with @davidfowl; they're kinda related in that they're both trying to deal with odd characters, but I think both issues need their separate fixes. Let me know if https://github.com/brentnewbury/StaticFiles/commit/11e02d1a513f41a8dc704027dd6a50e25f64054e seems like a good candidate for a pull request and I'll create one.

[2015-11-26 18:21] davidfowl commented on #84
Yes!

@brentnewbury do send a pull request for your change. The only thing I'm not sure about is if the static file handler should pass through to the next middleware. I *could* see that being ok though.

[2015-11-26 18:30] brentnewbury commented on #84
I let it pass through so that other middleware can try to handle it, better to passthrough than to swallow it up. Maybe in the future, if it's asked for, we could make it optional. I'll submit that pr now.

[2015-11-27 19:03] jods4 opened #86 "Am I supposed to use UseSendFileFallback post beta-8?"
I upgraded from beta-7 to rc1.

At the end of my pipeline, for any unmatched request, I want to answer with my default application page.
This is meant to enable deep linking in my SPA on the client side.

Anyway, the pipline ends with a call to `app.Run(context => ...)` that basically comes down to:
[code]

My app was previously hosted in IIS with Helios, but of course this changed when upgrading

[2015-11-28 00:47] davidfowl commented on #86
1. Yes it's by design. There's no way to trigger send file via the http platform handler. Doing it with the out of prof hosting would require some kind of header message passing.
2. You don't have to, you can manually fall back. Sending files isn't really a web server function IMO, writing responses is. IHttpSendFileFeature is an optional feature that can be filled in my middleware.
3. Not without

[2015-11-28 14:15] jods4 commented on #86
Do you mean writing my own streaming file logic using `System.IO`? Since you already wrote this, I'm OK reusing your work ;)

Thanks for your confirmation that it's the way to do it from beta-8 onwards, I'm closing this ticket.

I think you might want to clarify the feature matrix that is in the documentation here:
http://docs.asp.net/en/latest/fundamentals/servers.html
Because the IIS columns doe

[2015-11-28 14:15] #86 closed

[2015-11-28 18:19] davidfowl commented on #86
/cc @danroth27

[2015-12-01 18:14] blowdart opened #90 "Disallow \ (%5C) in path parsing."
It's not valid in a url path, but on Windows you use it as a directory seperator anyway

e.g. http://localhost:5000/css%5C..%5Ccss%5Csite.min.css

[2015-12-01 18:53] Tratcher commented on #90
This happens in two places:
1. Http.Sys will un-escape %5C to `\` and convert it to `/`. This affects all requests through IIS/Express & WebListener. Kestrel will un-escape %5C to `\`, but it does not convert it to `/`.
2. System.IO APIs consider `\` and `/` to be interchangeable in many operations. (At least on Windows. Verify on Mono & CoreCLR).

Neither of these are directly within our control.

[2015-12-01 20:41] #84 closed

[2015-12-01 22:50] Tratcher opened #91 "[Perf] Pool StreamCopyOperation buffers"
This 16kb buffer causes lots of GCs. https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/StreamCopyOperation.cs#L20

Also, does it need to be 16kb?

[2015-12-01 22:51] Tratcher commented on #91
@DamianEdwards

[2015-12-02 06:47] davidfowl opened #92 "Remove SendFileFallback middleware"
This doesn't need to be a middleware, instead we can turn the SendFile helper function into something that does the fallback on your behalf if available.

[2015-12-02 21:38] AspNetSmurfLab opened #93 "SendFile performance needs investigation"
Serving a 512 byte static file:
- From IIS (no caching or compression): 142,203 RPS
- Using SendFile and WebListener: 29,306 RPS

Wouldn't expect the difference to be that high.

[2015-12-03 06:53] #75 closed

[2015-12-03 07:09] davidfowl commented on #86
@jods4 Just a heads up we're going to make this easier https://github.com/aspnet/HttpAbstractions/commit/5b175beea877cb6896e50db12060580bfe7e7940

[2015-12-03 10:35] jods4 commented on #86
Thanks for the info @davidfowl !
I'll try that when RC2 is out.

[2015-12-04 03:32] #92 closed

[2015-12-09 03:19] Tratcher commented on #90
Offline notes: Yes this is strange, but it does not cause any known vulnerabilities. This falls into a similar class of system specific oddities like being case sensitive on linux and not on windows. The Embedded file provider will have similar oddities.

[2015-12-09 03:19] #90 closed

[2015-12-11 18:27] muratg commented on #10
Putting this in RC2 for now.  We'll need to discuss the design, and can potentially punt this.

[2015-12-17 07:54] damienpontifex opened #97 "Not found file falls through to MVC route"
I am using ASP.NET to serve content for an AngularJS based site. As such, I have the static file middleware with MVC. The MVC routes should basically serve the angular site unless a specific action was found. See code below:

[code]

My problem occurs when the request for an angular html component (e.g. ./components/app/app.html) cannot be found and I would expect a 404 to be returned. The problem

[2015-12-17 15:45] Tratcher commented on #97
By design. All middleware either handle a request or let it pass through to the next middleware. If static files can't match the url to a file then it falls through. A 404 isn't sent unless you reach the end of the pipeline.

In your example you shouldn't have MVC set up to consume all requests because it really will consume all requests. Or at the very least you should set it to a special 404 pag

[2015-12-18 01:13] damienpontifex commented on #97
Thanks @Tratcher

I assume this {*anything} route is the only way to get all new requests routed through to the index page so angular can handle the routing/components? The angular routing also handles the 404/otherwise case.

Is there a way to have it ignore anything with a path extension? i.e. *.html, *.css etc

[2015-12-18 05:25] Tratcher commented on #97
This issue was moved to aspnet/Routing#262

[2015-12-18 05:25] #97 closed

[2015-12-28 19:36] muratg commented on #57
@Tratcher What would the signature be for the overload?  Note that we already have this:

``` public static IApplicationBuilder UseStaticFiles(this IApplicationBuilder app, string requestPath)```

[2016-01-04 22:02] Tratcher commented on #57
Something like `public static IApplicationBuilder UseStaticFiles(this IApplicationBuilder app, string requestPath, string physicalPath)`.

[2016-01-05 20:23] #91 closed

[2016-01-05 22:17] muratg commented on #93
@DamianEdwards is this only with WebListener?  How does Kestrel compare?

[2016-01-05 22:21] Tratcher commented on #93
Kestrel was even worse. This should help Kestrel: https://github.com/aspnet/StaticFiles/issues/91

[2016-01-06 19:15] BrennanConroy commented on #93
That did nothing for this scenario that I could see

[2016-01-12 18:29] muratg commented on #66
@Tratcher Are we doing this in RC2?

[2016-01-12 18:30] muratg commented on #79
@dougbu if you have some time to do this, please feel free to send a PR. :)

[2016-01-12 18:30] muratg commented on #57
@Tratcher RC2?

[2016-01-12 18:52] dougbu commented on #79
:ok: sounds like some quick weekend fun

[2016-01-12 18:57] Tratcher commented on #79
These levels were already reviewed and explicitly selected. /cc: @rynowak @lodejard

In theory each middleware should log one or more messages in the event that they handle the request.

[2016-01-12 19:31] Tratcher commented on #66
Yes, we should do it.

[2016-01-12 19:32] Tratcher commented on #57
Non-critical, backlog until we get additional feedback.

[2016-01-14 21:46] BrennanConroy commented on #66
e05469a989075aef1eeba83f1fba4125d054fd90

[2016-01-14 21:46] #66 closed

[2016-01-19 02:37] resnyanskiy commented on #7
I found simple workaround based on URL redirect supported in HTTP:

[code]

I used [Wikipedia](https://en.wikipedia.org/wiki/HTTP_compression#Compression_scheme_negotiation) as reference. This approach also allows to use not minified files in development environment with no need to change links on client side.

I found that currect implementation of 'asnet/StaticFiles' lacks of two feature:
1. Dec

[2016-01-19 03:30] nikmd23 commented on #7
In support of [my comment above](https://github.com/aspnet/StaticFiles/issues/7#issuecomment-55180517), both [FireFox](https://hacks.mozilla.org/2015/11/better-than-gzip-compression-with-brotli/) and [Chrome](https://groups.google.com/a/chromium.org/forum/m/#!msg/blink-dev/JufzX024oy0/WEOGbN43AwAJ) will be shipping support for [Brotli](https://en.wikipedia.org/wiki/Brotli) compression soon.

[2016-01-21 08:58] dopare opened #106 "Could not load type 'Microsoft.AspNet.Http.Features.FeatureCollectionExtensions'"
Running on latest dnx-coreclr-win-x64-rc2-16357 build

[code]

I have attached StaticFiles package manually via global.json and it worked.

[2016-01-21 09:01] davidfowl commented on #106
Sounds like you have a version mismatch. Can you make a project on github that shows the repro?

[2016-01-21 09:02] dopare commented on #106
Pushed latest codebase to https://github.com/EpamArmenia/OfficeManager

[2016-01-21 09:04] davidfowl commented on #106
That repository doesn't have a `nuget.config` so it's unlikely that it will even build for me.

[2016-01-21 09:06] dopare commented on #106
@davidfowl sorry, updated the repo with `nuget.config`

[2016-01-21 09:11] dopare commented on #106
Adding `<clear/>` in `nuget.config` resolved the issue.
@davidfowl thanks for help

[2016-01-21 09:11] #106 closed

[2016-01-21 13:17] jamesgaunt commented on #86
Does this change mean we no longer have access to the IIS "super fast kernel mode (?)" file sending / output caching if a site is running on Kestrel?  This seems like quite a significant loss.

[2016-01-21 13:24] davidfowl commented on #86
@jamesgaunt That's correct. You can't directly call into IIS's send file feature anymore. You can use WebListener to get that feature back though (if you need it).

[2016-01-21 13:39] jods4 commented on #86
@davidfowl Could you provide some links or more details on how using `WebListener` to get back access to IIS native features inside a web application would work out?

[2016-01-21 13:48] davidfowl commented on #86
It's not an IIS native feature, it's an `http.sys` native feature (actually there's a sendfile on sockets as well but it's no async). IIS exposes this feature when you run in that process directly. It's fathomable that we expose it via an outgoing header but it's not something we currently plan to support.

If you were relying on this feature I'd like to see the performance metrics you have to sho

[2016-01-21 14:49] jods4 commented on #86
@davidfowl Personnally I was asking just to extend my knowledge of how all of this work. I don't have huge perf requirements on serving files.

[2016-01-21 22:22] muratg commented on #93
Moving this to Backlog as we will be in RC2 ask mode very soon.  If you feel strongly about this issue, please ping me.

[2016-01-21 22:50] muratg commented on #10
Wasn't designed. Moving this to Backlog as we will be in RC2 ask mode very soon.  If you feel strongly about this issue, please ping me.

[2016-02-03 22:08] Yitzchok opened #108 "web.config with extensionless files"
I am not sure if this is the correct place to post this.

Adding a web.config file to a directory with staticContent of
[code]
Should allow the server to return extension less files on the server

If you want to do this now you will have to set
[code]

[2016-02-03 23:31] Tratcher commented on #108
Those web.config settings configure the native IIS static file module. They have no affect on the managed Asp.Net static file middleware.  Asp.Net Core does not read anything from web.config (except HttpPlatformHandler).

[2016-02-04 00:05] Yitzchok commented on #108
Ok thanks for explaining.

[2016-02-04 00:05] #108 closed

[2016-02-05 00:11] JunTaoLuo opened #110 "StaticFiles sample needs update"
Currently when you run the StaticFileSample, you will see nothing in the browser and on the console you will see the message:

[code]

Seems like we need to tweak some of the default options so that files are served.

[2016-02-08 20:45] JunTaoLuo commented on #110
This occurs when running from the console using `dotnet run`

[2016-02-09 04:46] #110 closed

[2016-02-16 17:01] Tratcher opened #111 "Add event for customizing file selection"
Add an event at the beginning of the static file middleware when the request first arrives that would let you map any path to any file, and pick the content-type. Then the middleware could process that file normally (e-tags, if-modified-since, range, etc..).

[2016-02-21 06:55] Eilon commented on #111
Moving to backlog as we're trying to limit new features at this time.

[2016-02-22 16:44] jods4 commented on #7
:+1:

Actually, even a good story for serving gzipped static files (with a cache, of course, since it's static compression) is currently lacking. I'm saying this in the "conventional", "IIS-kind" of way, as opposed to the build-time gzip generation.
Or did I miss something?

For those coming here from Google with dynamic content compression needs, you might try this gist:
https://gist.github.com/P

[2016-02-23 22:20] pebezo opened #114 "Question: Is there a way to configure the static files to certain URLs / routes?"
I'm working with an ASP.NET Core app that's using Angular 2. In order for Angular to work I set up a fallback / catchall route that loads Angular stuff. I'm also using static files to serve the Angular bits as well as other assets.

The issue is that if wwwroot/assets/foo.css is missing the request goes on and the server returns the default Angular HTML page (instead of 404). Is there a way to tel

[2016-02-23 23:17] pebezo commented on #114
This seems to work:

[code]

Does it make sense to write this? Any unknown side-effects?

[2016-02-24 06:02] Eilon commented on #114
Yup that's definitely a way to do it. You'll want to be a bit careful in case you have something like `/appetite_for_destruction`, which will still match your condition (it starts with `/app`). I'm sure @Tratcher has some thoughts on this (but he's out of the office this week).

[2016-02-24 14:48] pebezo commented on #114
Good point. I should probably check if it starts with "/app/". Since I'm controlling the routes on the client side I don't think this would be an issue. I'm more concerned if it introduces some server-side overhead that's not immediately apparent (i.e. is it efficient). Thanks for the reply.

[2016-02-28 14:26] NickAb opened #115 "Option to look for default files at the root of wwwroot path only, not at subpath"
`DefaultFiles` middleware allows routing to default files at request subpath if no file was found, but for angular or other single page apps we would need to always route to `/wwwroot/index.html` for any subpath, i.e.:
- `http://localhost:5000/` -> `wwwroot/index.html`
- `http://localhost:5000/some-sub-path` -> `wwwroot/index.html`

Currently we have to write custom middleware to handle this case

[2016-02-29 22:04] muratg commented on #114
@pebezo Let us know if you have other questions/concerns!

[2016-02-29 22:04] #114 closed

[2016-02-29 22:11] muratg commented on #115
@NickAb By "custom middleware" do you mean the example in http://stackoverflow.com/questions/31184446/asp-net-5-html5-history/34882405#34882405?

[2016-03-01 02:30] NickAb commented on #115
For the moment I use this instead:
[code]

Also there is an [Angular Middleware](https://github.com/a11smiles/AngularMiddleware/blob/master/AngularMiddleware/AngularRequestMiddleware.cs) on github.

[2016-03-02 04:50] Tratcher commented on #115
Possibly related to https://github.com/aspnet/StaticFiles/issues/111

[2016-03-02 05:02] Tratcher commented on #114
You'd get similar results with
[code]
though you'd also have to tweak the file provider in that case as we don't have a simple overload for that yet: https://github.com/aspnet/StaticFiles/issues/57

Also, don't do your own path comparisons for exactly the reasons @Eilon said. Use PathString.StartsWithSegments: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Abstra

[2016-03-02 22:59] HaoK opened #116 "SharedOptionsBase remove the generic <T>?"
The base class has a T parameter but nothing in the base uses T...can we just remove the generic parameter?

This shared options usage here is really weird.  Maybe something like this might be simpler, have every middleware depend on FileServerOptions instead of their specific sub options, and merge the 'sharedoptions' into FileServerOptions directly.  Since the composite option class already exis

[2016-03-03 14:32] VanCoding commented on #57
I also need this. @Tratcher 's suggested overload looks good.

What would've been even better:
`public static IApplicationBuilder UseStaticFiles(this IApplicationBuilder app, string physicalPath)`

Because `requestPath` can be set more transparently using
[code]
But that would clash with the current method, so that's not possible anymore.

[2016-03-04 23:20] HaoK commented on #116
2f7e31ab5be5522aaeb508c818e4de0e59b2a30e

[2016-03-04 23:20] #116 closed

[2016-03-08 11:18] poimis opened #119 "GZipping files when running under IIS"
There are (at least) three ways to serve gzipped content:
1. Pre-encoding (has its own issue #7 )
2. Write a middleware that takes care of compression
3. Rely on web-facing web server take care of the task

I tried the second option and found out that it doesn't really work under IIS, because StaticFileContext looks for IHttpSendFileFeature and if found, it delegates writing the file to it (effect

[2016-03-08 18:47] Tratcher commented on #119
IHttpSendFileFeature is no longer available for IIS & Kestrel since Beta8, so that shouldn't be a problem. It's only supported by WebListener. IIS's dynamic compression should now kick in even for static files, or you can do it in middleware.

[2016-03-08 18:52] poimis commented on #119
I am using rc1 and it definately does not work.

[2016-03-11 09:12] jesterst commented on #119
Have same problem. Use Microsoft.AspNet.Server.Kestrel, version 1.0.0-rc1-final. GZipMiddleware not work.

[2016-03-30 10:27] justdmitry opened #122 "Manage Cache-Control/Expires header more friendly"
Currently `StaticFilesMiddleware` does not append `Cache-Control` and/or `Expires` headers to response. But managing browser cache is very important for static files.

Currently I use code in `Startup.cs` like this:
[code]

It's too complex for simple scenario like 'set expiration on all static content'. I think `StaticFileOptions` should have one simple property like `DefaultCacheControl` for thi

[2016-03-30 14:06] davidfowl commented on #122
That's too complex?

[2016-03-30 14:28] justdmitry commented on #122
99% of static files in /wwwroot of 99% web sites need "non-empty" cache control. Additional property on top-level options class vs "lambda method that appends header to three-level-deeper collection" - I think first method is more friendly.

[2016-04-09 13:51] longday24 commented on #70
What if UseStaticFiles() excepted optional string param of a named authorizationPolicy when passing requestpath?

`public void ConfigureServices(IServiceCollection services)
{
    services.AddAuthentication();
    services.AddAuthorization(options =>
    {
        options.AddPolicy("Authenticated", policy => policy.RequireAuthenticatedUser());
    });
}`

usage would be something like `.UseStaticF

[2016-04-18 20:54] rynowak opened #126 "StaticFiles middleware allocates 64kb buffer per file on windows"
Some allocation data collected from music store (using jmeter stress client):

![image](https://cloud.githubusercontent.com/assets/1430011/14619558/e9b52cda-056c-11e6-93f2-463101d47493.png)

`Win32FileStream` is allocating a 64kb buffer every time it's used.

This isn't necessarily bad, I just wanted to record the data point

[2016-04-19 22:27] Bartmax opened #127 "Need some help with FileProviders. FileInfo.PhysicalPath returns the base path twice."
I have a custom file provider that I register on ConfigureServices as:
[code]
**note:** the path `../upfiles` prevents deleting user content uploded files because are outside wwwroot folder when a clean on the output (wwwroot folder) is needed.

Then on my cshtml I point to files as:
[code]

Now I'm trying to implement a TagHelper (but is not specific to taghelper), to resize the image file, so I

[2016-04-20 11:17] bbowyersmyth commented on #126
Related discussion https://github.com/dotnet/coreclr/issues/2223

[2016-04-21 17:20] muratg commented on #126
@rynowak anything actionable on this, or did you want to track it for more investigation?

[2016-04-21 17:36] rynowak commented on #126
Just logging/tracking it. We haven't done much testing yet with static files so I didn't want to lose the data point.

[2016-04-22 16:05] muratg commented on #127
@Bartmax It's hard to say why "upfiles" shows up twice without knowing what your code does.  Perhaps debug and see where it's getting added the second time?

[2016-04-27 10:10] RehanSaeed commented on #119
If I also want to introduce caching, then my theory is that, surely it is better to cache the GZip'ed content. If I use IIS compression, then my caching is happening in my ASP.NET Core app and IIS is then GZip'ing the content each time for no reason.

[2016-04-27 18:37] Tratcher commented on #115
I think it would be an option like IncludeSubDirectories on PhysicalFileProvider.

[2016-04-27 18:44] Tratcher opened #129 "Review FileExtensionContentTypeProvider and document the criteria for being included"
`FileExtensionContentTypeProvider` contains the file extension to content-type mappings used by the `StaticFilesMiddleware`. Only extensions listed will be served by default. The original list was copied from IIS but we've made some additions.
- [ ] Review the APIs and make sure it's easy enough for people to add and remove entries.
- [ ] Document the criteria for including an entry in the default

[2016-04-28 02:49] DamianEdwards commented on #129
As part of the first item, I'd like to see what it would like to have an app set up to read a config file that specifies the file extension to content-type mappings, as an example.

[2016-04-28 16:39] muratg commented on #127
@Bartmax Any updates on your investigation?

[2016-04-28 17:08] Bartmax commented on #127
Yes sorry forgot to describe it here.

The logic was like this:
ImageTagHelper:
check image source for: Src.StartsWith("~/upfiles");

then get FileProviderPath => fileInfo.PhysicalPath which returns:

`/upfiles/.....`

and I was replacing `~` from the src attribute with what I get from physicalPath, instead of `~/upfiles/` so the problem was simply that.

I'm still wondering if creating a new `Tag

[2016-04-28 17:08] #127 closed

[2016-05-17 11:44] Belkar opened #130 "StaticFiles cuting off 3 characters (and sometimes printing a BOM at the beginning)"
I am currently trying to migrate a RC1 web application with Angular 2 to RC2. But I have the problem that the StaticFile-Middleware sometimes cuts 3 charactes away from the end. (But the content-length seems to be the same since every browser reports a unexpected EOF).
The interesting thing ist that once in a while it also prints a BOM at the beginning.

Also some pages seem to work where others f

[2016-05-17 16:39] Tratcher commented on #130
This is pretty strange. StaticFiles does not encode or decode files, there's no reason it should ever add a BOM. Are you generating the file and/or frequently editing it?

What's the rest of your setup? Kestrel? Kestrel + IIS / Express? Windows?

[2016-05-17 21:11] Belkar commented on #130
Windows 10 with Visual Studio 2015.

For testing purposes i have used the stock ASP.Net Core project (MVC Sample app) that ships with the Visual Studio SDK. I haven't changed anything, just added the file above into the wwwroot folder. The bug happens with both **Kestrel** and **IIS Express**.
The HTML file is self written. I have tried it with Linux and Windows line endings and viewed the files w

[2016-05-18 19:23] NotMyself opened #131 "Error: Unable to resolve service for type 'System.Text.Encodings.Web.HtmlEncoder'"
## Steps to reproduce
`git clone https://github.com/NotMyself/RC2Error`
`cd RC2Error` & `dotnet restore`
`dotnet run`

## Expected  behavior
Project should compile and run allowing me to browse the wwwroot directory

## Actual behavior
Unhandled Exception: System.InvalidOperationException: Unable to resolve service for type 'System.Text.Encodings.Web.HtmlEncoder' while attempting to activate 'Micr

[2016-05-18 19:33] pakrym commented on #131
Add`AddDirectoryBrowser` call to `ConfigureServices`.

[code]

[2016-05-18 19:42] NotMyself commented on #131
That was it. Thanks.

[2016-05-18 19:42] #131 closed

[2016-05-19 18:47] muratg commented on #130
Investigate for 1.0

[2016-05-19 21:41] #130 closed

[2016-05-19 21:41] pakrym commented on #130
Caused by: https://github.com/aspnet/Mvc/issues/4671

[2016-05-24 16:52] Eilon commented on #119
Moving to 1.0.1.

[2016-05-26 06:55] muratg commented on #129
Moving to post RTM for now. Ping me if you think this has to be done this week.

[2016-06-01 06:19] mrahhal opened #135 "Make "range" downloading functionality available outside of StaticFiles"
So I have an Mvc core app running in production and I have an action that downloads a file using `PhysicalFileResult` which transmits the file directly. The files might be big so I wanted to support "range" downloading.

I was reading the StaticFiles middleware and it supports the specs perfectly so why would I have to implement it again outside of StaticFiles? Can't we make that functionality enc

[2016-06-01 16:15] Tratcher commented on #135
Please Move this bug to MVC. It makes sense to add for some of this functionality to FileResult.

[2016-06-01 16:29] mrahhal commented on #135
@Tratcher I agree, but I intentionally opened it here because simply adding the same functionality in Mvc would cause duplication, right? Should't there be a shared service? StaticFiles already has all the needed functionality (internally).

[2016-06-01 16:31] Tratcher commented on #135
MVC is where you want the functionality. We'll figure out how to best get it there.

[2016-06-01 16:32] mrahhal commented on #135
Alright I'll open one there, thanks.

[2016-06-01 16:32] #135 closed

[2016-06-09 22:57] cweb opened #137 "StaticFiles throws in _fileProvider.GetFileInfo on /.%20./"
Sending a request of `GET /bar/.%20./foo.txt HTTP/1.1 or GET /bar/%20./foo.txt HTTP/1.1`

Throws  an unhandled ArgumentException at:

[code]

[code]

[2016-06-09 23:16] cweb opened #138 "Long path or filename throws unhandled exception"
A long request path will throw an unhandled exception.

[code]

[2016-06-09 23:22] Tratcher commented on #138
This issue was moved to aspnet/FileSystem#201

[2016-06-09 23:22] #138 closed

[2016-06-10 19:07] Tratcher commented on #137
This issue was moved to aspnet/FileSystem#204

[2016-06-10 19:07] #137 closed

[2016-06-13 18:32] pakrym opened #139 "UseFileServer requires AddDirectoryBrowser call in ConfigureServices"
DirectoryBrowser requires web encoders which are registered via `AddDirectoryBrowser` call but we don't have `AddFileServer` which would align with `UseFileServer` and the runtime error you get is hard to diagnose.

Possible solutions:
1. Add `AddFileServer` method that calls `AddDirectoryBrowser`
2. Add `DirectoryBrowserMiddleware` constructor overload which does not take `HtmlEncoder` and use de

[2016-06-13 18:39] Tratcher commented on #139
Lets do option 2. Most of the time people don't reconfigure the encoders so the default should be fine, and if they do reconfigure it then they'll register it.

[2016-06-16 18:34] pakrym opened #141 "DefaultFileMiddlware doesn't work with EmbeddedFileProvider and subfolders."
Repro:
**Embed the following directory structure:**
[code]

**Use the folowing code:**
[code]

**Go to `http://localhost:5000/Files/`**

Expected `TextFile.txt` content gets displayed
Actual: 404

[2016-06-16 18:50] Tratcher commented on #141
This happens because DefaultFiles first checks if the directory exists, and EmbeddedFileProvider doesn't support directories. We should try making EmbeddedFileProvider smarter around directories.
https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNetCore.StaticFiles/DefaultFilesMiddleware.cs#L69-L70

[2016-06-29 18:07] #139 closed

[2016-06-29 21:37] muratg commented on #141
Dup of https://github.com/aspnet/FileSystem/issues/206

[2016-06-29 21:37] #141 closed

[2016-07-05 08:33] JohannesRudolph commented on #7
Would it be beyond the scope of this to suggest that StaticFiles should optionally allow cached "on-demand" compression of files? (I.e. gzip on first request and put result to file system cache, serve gzip requests from there)

[2016-07-05 20:16] joostvanhassel opened #143 "Returning '304 not modified' takes longer than returning resources"
Steps to reproduce:

- create a new website from the full template (which contains some static content)
- run
- open dev tools
- look at loading times of resources with cache `enabled`
- look at loading times of resources with cache `disabled`

(repeat last two steps several times for good measurement)

It appears returning `304 not modified` (in first scenario) takes more time than returning the

[2016-07-11 09:57] Tragetaschen commented on #129
I've just tried to add a new file extension + content type to use with the file server.
There is definitely room for improvement:
[code]

[2016-07-11 19:43] AnderssonPeter commented on #119
Is this still the same? im running "Kestrel" (haven't tried with IIS) but my files seem to get gzipped by them self?

Am i totally confused or is this meant to happen? and if where does it happen?

[2016-07-11 21:00] Tratcher commented on #119
Kestrel does not gzip files. IIS & IIS Express can do dynamic compression for any response.

[2016-07-12 08:08] AnderssonPeter commented on #119
Checked again and its hosted in IIS Express but it says `Server: Kestrel` in the http header? why does it say `Kestrel` when its using IIS Express?

[2016-07-12 08:11] davidfowl commented on #119
Because it's using both. IIS is a reverse proxy, in this scenario and Kestrel runs in your application's process.

[2016-07-12 08:33] AnderssonPeter commented on #119
@davidfowl @Tratcher  Thanks i managed to run it without iis as a reverse proxy and then it didn't compress!

[2016-07-20 01:09] mikeharder opened #147 "Inconsistent handling of multiple slashes in path"
StaticFiles is inconsistent with handling of multiple slashes in a path.  It appears to be allowed inside a path, but not at the start.

[code]

It should be either allowed or disallowed in all parts of the path.

[2016-07-20 02:10] Tratcher commented on #147
Is this actually caused by static files logic, or is it physical file provider? Embedded file provider will be different.

[2016-07-22 11:39] twilliamsgsnetx commented on #7
Really looking forward to being able to do this. I can go through all the trouble of bundling, minifying, tree shaking and gzipping to get things down to an absolute minimum size... but I can't serve those .js.gz files and it's problematic.

I'm also strugglin to get IIS to gzip itself as well, but that's for another area entirely.

[2016-07-25 21:56] muratg commented on #147
@JunTaoLuo Could you investigate?

[2016-07-25 21:58] muratg commented on #143
Assigning to @pakrym for investigation

[2016-07-29 00:29] JunTaoLuo commented on #147
Our checks for rooted paths in the physical file provider is preventing the request from being resolved. https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFileProvider.cs#L201
If we encounter a path that begins with a forward slash, we strip the first slash. However, if you have two, we only strip the first one and the rest is interpreted as an a

[2016-07-29 16:02] muratg commented on #147
@JunTaoLuo I think that's a good idea. Would that break anything that you can think of?

[2016-07-29 17:52] JunTaoLuo commented on #147
I can't think of any breaks that would be caused by trimming multiple leading slashes. Any concerns @Tratcher? Security especially?

[2016-07-29 17:57] Tratcher commented on #147
Try it with the StaticFiles tests. Also try it on unix.
@blowdart?

[2016-07-29 18:01] JunTaoLuo commented on #147
Tests run fine and I've tested with the static files on core, full framework and core on osx.

[2016-07-29 18:16] blowdart commented on #147
What about trying to escape out of the static file root?

[2016-07-30 05:26] neyromant commented on #7
https://github.com/aspnet/Home/issues/1584#issuecomment-227455026

https://github.com/AnderssonPeter/CompressedStaticFiles

[2016-08-01 01:22] shanselman commented on #10
Cough.

[2016-08-03 18:42] pakrym opened #149 "Investigate static files performance comparing to IIS"

[2016-08-08 15:27] pakrym commented on #143
This is caused by console and debug loggers adding an overhead to request time. If you increase their levels to `Error` you should see `304` being faster then `200`. To increase levels change `"Microsoft": "Information"` line in `appsettings.json` to `"Microsoft": "Error"` and `loggerFactory.AddDebug();` line in `Startup.cs` to `loggerFactory.AddDebug(LogLevel.Error);`

__Test results (200):__
[co

[2016-08-09 18:35] #143 closed

[2016-08-10 20:27] #147 closed

[2016-08-10 22:23] pakrym commented on #126
This was fixed by https://github.com/aspnet/FileSystem/pull/216

[2016-08-10 22:23] #126 closed

[2016-08-18 23:25] halter73 opened #150 "Handle and log OperationCanceledExceptions thrown due to client disconnects"
_From @anpete on April 14, 2016 5:32_

Not sure if this is expected, so filing just in case. While investigating our internal MusicStore stress scenario I'm seeing an OperationCanceledException raised occasionally when the number of clients > ~50.

Stack:

[code]

_Copied from original issue: aspnet/KestrelHttpServer#748_

[2016-08-18 23:25] halter73 commented on #150
_From @Eilon on April 14, 2016 7:21_

This magic number 50 sounds suspiciously like https://github.com/aspnet/Coherence-Signed/issues/268, not that I have any idea whether it's related at all.

[2016-08-18 23:25] halter73 commented on #150
_From @mikeharder on April 19, 2016 18:50_

@anpete: A few questions:
* Are you using HTTP or HTTPS?
* Can you share steps to reproduce this?
* How often does it repro?
* Does this server exception have any impact on the client?  Does the client get a 500 response when this happens?

[2016-08-18 23:25] halter73 commented on #150
_From @anpete on April 19, 2016 20:5_

@mikeharder Looks like this is no longer repro'ing - after https://github.com/aspnet/MusicStore/commit/fb4fadb0b10301b09326b8a9f78b6f1893210cb3

Let me know if you still want to investigate.

[2016-08-18 23:25] halter73 commented on #150
_From @mikeharder on April 20, 2016 17:59_

It's by design that this exception is raised if a client disconnects before reading a full response, which is likely what was happening before your changes.

[2016-08-18 23:25] halter73 commented on #150
_From @gdoron on August 14, 2016 10:17_

@mikeharder  @Eilon
If it is caused by client disconnection, the level shouldn't be error.
It pollutes our log with stuff that aren't really errors and no actions need to be taken.

Am I right?

[2016-08-18 23:25] halter73 commented on #150
_From @mikeharder on August 15, 2016 18:8_

@halter73, @cesarbs: What log level is used for client disconnects?  I think they should be `Information` or lower.

[2016-08-18 23:25] halter73 commented on #150
_From @benaadams on August 15, 2016 19:19_

Change the exception type? (e.g. OperationCanceledException->HttpDisconnectException) so it can be distinguished from an OperationCanceledException arising in user code?

[2016-08-18 23:25] halter73 commented on #150
_From @Tratcher on August 15, 2016 20:25_

No, you don't want to mess up the Stream/Task exception contract.

[2016-08-18 23:25] halter73 commented on #150
_From @benaadams on August 15, 2016 20:27_

Could still catch a derived exception with `catch (OperationCanceledException ex)` just allows for differentiation?

[2016-08-18 23:25] halter73 commented on #150
Agreed. I think StaticFiles should `catch (OperationCanceledException ex)` and check `HttpContext.RequestAborted.IsCancellationRequested`. If the `RequestAborted` token is canceled, log something about a client disconnect at an information or lower log level. Otherwise, rethrow.

[2016-08-18 23:25] halter73 commented on #150
_From @Tratcher on August 15, 2016 22:52_

We'd have to write that kind of code into every middleware and framework. That's a very expensive solution to an otherwise minor problem.

[2016-08-18 23:25] halter73 commented on #150
@Tratcher Only middleware that writes responses while passing in the RequestAborted token to WriteAsync/SendFile needs to change. What other than StaticFiles actually does that? I'm guessing there's not too many other examples. I've seen several complaints for StaticFiles throwing an uncaught `OperationCanceledException`, but never for anything else.

It's really not necessary to pass in the Reque

[2016-08-18 23:25] halter73 commented on #150
_From @muratg on August 17, 2016 22:6_

I asked @halter73 to file a bug on StaticFiles to continue the discussion there. We can reach the decision there later.

[2016-08-19 16:23] Tratcher commented on #150
@halter73 what happened to all the comments?

[2016-08-19 23:06] halter73 commented on #150
They're in the old issue. Would you prefer I close this and reopen with comments?

[2016-08-19 23:11] Tratcher commented on #150
Or re-word this one to explain the proposal

[2016-08-22 17:35] halter73 commented on #150
Ideally the client disconnect log message would have a LogLevel lower than error, since the main motivation for this issue is to clean up logs. I would go with LogLevel.Information, since that is how Kestrel logs most connection errors. It might also be helpful to indicate what file was being served.

[2016-08-22 19:03] gdoron commented on #150
I personally think it should be debug.
There is no information an application owner should care about except from debugging nor there's an action he should or even can do.
It's completely out of scope of applications.
(Unlike timing for example)

[2016-08-24 14:37] YaroslavSchubert opened #151 "Project Microsoft.AspNetCore.StaticFiles does not have a lock file"
Just trying to dotnet run StaticFileSample and then

`dotnet restore` doesn`t help.

[code]

[2016-08-24 14:44] Tratcher commented on #151
How about running Build in the solution root?

[2016-08-24 14:49] YaroslavSchubert commented on #151
[code]

[2016-08-24 14:55] YaroslavSchubert commented on #151
On windows 10 x64 works fine

[2016-08-25 23:25] Tratcher commented on #150
The other thing to sort out here is OperationCancelledException vs TaskCanceledException. Kestrel uses the former and WebListener the later.

[2016-08-26 18:31] halter73 commented on #150
@Tratcher Did you mean that Kestrel uses the latter `TaskCanceledException`? I don't think Kestrel uses `OperationCanceledException` anywhere.

[2016-08-26 18:32] Tratcher commented on #150
The OperationCanceledException may be coming directly from StreamCopyOperation

[2016-08-26 18:32] Tratcher commented on #150
TaskCanceledException derives from OperationCanceledException, so anything that deals with OCE will also handle TCE

[2016-08-26 18:41] halter73 commented on #150
Sure, but anything that Kestrel throws directly will be the derived type.

[2016-09-02 16:03] #149 closed

[2016-09-05 20:27] mrahhal opened #155 "Allow handling the response when the file is not found"
Currently if the file is not found the middleware will call `next` anyway. It might be desirable to short circuit at this point and just return a 404.

Now, this can be done by using an "app" middleware right after using the `StaticFiles` one, but it will need to try and match the `RequestPath` against what the `StaticFiles` middleware is configured to handle. This doesn't look cool at all.

### S

[2016-09-06 03:12] Tratcher commented on #155
I don't recommend doing this, it would provide the same functionality as having your own middleware next in the pipeline. Note the event would fire for every MVC page / API, you'd have lots of noise.

[2016-09-06 04:02] mrahhal commented on #155
Ok, here's the issue. I'm using angular, and because of that I have to do a "catch all" route in mvc so that angular can handle 404s on the client. The problem isn't with angular, if you're using any spa framework that has its own routing system you're forced to do that. The result? If I request a static file the response will be an html webpage.

Also, the event won't fire for every route because

[2016-09-06 17:06] Tratcher commented on #155
A different approach I've seen for angular is to use UrlRewrite: https://github.com/aspnet/BasicMiddleware/issues/43

Note that fileContext.ValidatePath is empty most of the time, static files are served from the root url.

[2016-09-06 17:24] mrahhal commented on #155
Ah, missed that StaticFiles would handle things in the root in a default setup. I'll check that approach. Thanks!

[2016-09-06 17:26] #155 closed

[2016-09-06 19:01] andrewlock commented on #122
I agree, I feel like setting the cache headers should be a first class citizen in the `StaticFileOptions` class. It should be pretty easy to add a `CacheProfile` property to it, or potentially a `Func<CacheProfile, StaticFileResponseContext>`. This would greatly streamline this whole process, as well as avoiding typos by developers in the header values etc.

This could run just before the `OnPrepa

[2016-09-07 21:38] muratg commented on #151
@YaroslavSchubert Make sure to install all prereqs for Ubuntu.  See https://www.microsoft.com/net/core#ubuntu

[2016-09-08 23:03] #150 closed

[2016-09-09 04:33] gdoron commented on #150
If I understood the code correctly, you ended up making the log debug as I suggested, right?

[2016-09-09 05:13] Tratcher commented on #150
Yes https://github.com/aspnet/StaticFiles/commit/bbf1478821c11ecdcad776dad085d6ee09d8f8ee#diff-991aec26255237cd6dbfa787d0995a2aR85

[2016-09-13 23:32] Tratcher commented on #129
Policy considerations:
- Include file types included in other server's default sets
- Do not include file types likely to contain server-side code or configuration (e.g. cs, cshtml, json, etc..)
- Prefer mime types with well documented standards (e.g. RFCs)

This policy should be placed in the wiki and/or in a doc comment on FileExtensionContentTypeProvider

[2016-09-25 20:38] dazinator opened #158 "IHostingEnvironment.WebRootFileProvider, script tag helper, and static files middleware."
Suppose you use static files, with your own file provider like so:

[code]

Now, on the client / browser, you can now request a file like so:

"http://your-website.com/specialfiles/yourFile.js"

The static files middleware, will map the request path: `/specialfiles` to the file provider specified. It then removes the request path '/specialFiles' from the file path when requesting the file via the

[2016-09-26 13:37] Tratcher commented on #158
Hosting configures StaticFiles, not the other way around. That said, the various components are making a few assumptions that don't hold for your scenario.

The script tag helper assumes that the WebRootFileProvider's url path is the site root. @NTaylorMullen any way to adjust that?

Some possible workarounds:

Does your site have any static files not under the url `/specialfiles/`? This layout do

[2016-09-26 18:18] dazinator commented on #158
Yes it does. I am using a CompositeFileProvider on the Environment web root file provider, in order to resolve static files from multiple locations.

The files come from an external location, not nested within the website folder, so I can't move them within a project subfolder.

Yeah, but they don't integrate with the MVC script tag helper which is kind of my issue.

In order to get this to work,

[2016-09-26 21:15] Tratcher commented on #158
Adding an IFileProvider that handles RequestPath seems like a good solution to your problem. This could be a generic wrapper around another IFileProvider so you wouldn't have to re-implement the functionality across providers. Let us know what you come up with and we may consider it for the FileSystem repo.

I don't anticipate making any changes to StaticFiles for this. StaticFiles does not create

[2016-09-26 23:20] dazinator commented on #158
Ok sounds good to me.
Interestingly.. by creating a FileProvider that handles request path and delegates to an underlying FileProvider, by adding this to IHostingEnvironemebnt.WebRootFileProvider, there should then be no need to configure static files middleware options with IFileProvider / request paths at all.. as the WebRootFileProvider can handle everything.. I'll give this a try

[2016-09-27 23:27] muratg opened #159 "Remove etags from StaticFiles"

[2016-09-27 23:33] davidfowl commented on #122
Not a fan of this change, using the typed headers for setting the cache if you want a strongly typed API.

[2016-09-29 01:15] steveoh opened #160 "High number of static files cause debugger crash and dotnet hang"
#### Did you read the documentation?
Yes

#### Did you include the snippet of broken code in the issue?
[code]
#### What are the EXACT steps to reproduce this problem?
I am writing an app that using the esri javascript api which is built on top of dojo. This is important since dojo embraces the AMD module syntax and in development a lot of modules get requested. This particular project makes aroun

[2016-09-29 03:52] Tratcher commented on #160
Do you also experience the dotnet hang without the debugger attached? Or is it only with the debugger?

(Your gist link doesn't work)

[2016-09-29 16:33] steveoh commented on #160
I updated my project.json gist. I'll try running without the debugger attached a few times today.

[2016-09-29 22:51] steveoh commented on #160
@Tratcher no I have not been able to make it happen without the debugger. It seems to only be with the debugger. It's waaaay faster without the debugger attached for sending the static files also.

[2016-09-29 22:54] Tratcher commented on #160
Maybe you need to add some sleeps to slow it down for a repro :-)

[2016-10-10 21:47] muratg commented on #122
We decided to not do this.  Thanks folks (and thanks @andrewlock for the PR.)

[2016-10-10 21:47] #122 closed

[2016-10-12 22:30] Tratcher commented on #129
Adding/Removing file types has discoverability issues, but we haven't found a fix without breaking changes. Consider removing the IContentTypeProvider abstraction, it's rarely replaced.

[2016-10-18 17:16] muratg commented on #160
@steveoh Please let us know if you're still hitting issues (file a new bug). Closing this one.

[2016-10-18 17:16] #160 closed

[2016-10-23 14:49] dazinator commented on #158
Ok I have created a basic `RequestPathFileProvider` here:
https://github.com/dazinator/Dazinator.AspNet.Extensions.FileProviders

[2016-10-23 19:51] henryhe9999 commented on #159
Why?

[2016-10-23 21:26] Tratcher commented on #159
There is concern that the e-tag generation algorithm is not sufficient. Right now it only considers the length of the file and the last modified date. Hashing the actual contents of the file would be too resource intensive.

Note these concerns are theoretical, no customer issues have been reported and this algorithm has been in use for 3+ years (Katana and ASP.NET Core).

[2016-10-23 21:34] Tratcher commented on #158
Nice.
Careful with StartsWith if you want to limit to full segment matches. Currently `/dir` will match `/dir/foo` (returns `/foo`) and `/dirfoo` (returns `foo`). PathString has some good helper methods for StartsWithSegment you can check.

[2016-10-23 21:40] davidfowl commented on #159
Nobody complained about the performance of the static file middleware in katana because it was likely very rarely used over IIS. The performance is pretty abysmal in comparison.

It might be worth looking at what other file server implementations do to generate etags.

[2016-10-24 06:49] dazinator commented on #158
Thank you. Excellent - I was hoping the framework would have something better for this, I will check out PathString!

[2016-10-24 16:47] dazinator opened #162 "ChangeTokens and signalling Deleted files"
Hello,

In my custom IFileProvider, i'd like it to behave correctly when a file being watched is deleted. I already have it returning a custom `IChangeToken` for the watched file, but i'm not clear on exactly what needs to be done in order to correctly signal a Delete. Are there any examples of this that I could look at? Is it just as simple as passing `Null` when raising the callbacks - i.e:

[co

[2016-10-24 16:51] Tratcher commented on #162
This issue was moved to aspnet/FileSystem#241

[2016-10-24 16:51] #162 closed

[2016-10-24 16:52] dazinator commented on #162
oops sorry wrong repo! That will teach me to have too many github pages open at once.

[2016-10-25 22:38] Tratcher commented on #129
@muratg recommend moving this to the 2.0 milestone for API breaking changes

[2016-11-02 11:42] RehanSaeed commented on #122
For anyone else who came here, @andrewlock raised a PR https://github.com/aspnet/StaticFiles/pull/157 to use the `CacheProfile` class to add `Cache-Control` and `Pragma` HTTP headers to static files.

The `ApplyCacheProfile(HttpContext, CacheProfile)` method @andrewlock has written in his PR is not something trivial and not something I'd want to include in my projects.

For anyone else who doesn't

[2016-11-02 20:57] muratg commented on #159
Since this is a breaking change, triaging in 2.0.0 for now.

[2016-11-14 20:04] #79 closed

[2016-11-19 03:43] John0King opened #163 "woff2 content type"
https://www.w3.org/TR/WOFF2/#IMT
Should we use `font/woff2` instead of `application/font-woff2` ?

[2016-11-21 22:15] muratg commented on #163
Breaking change -- we'll look into this in 2.0.

[2016-12-13 20:05] spboyer commented on #119
Now that Microsoft.AspNet.ResponseCompression exists, is this a needed issue?

[2017-01-03 06:10] avanderhoorn opened #164 "DefaultFilesMiddleware in conjunction with EmbeddedFileProvider and subpaths"
The behaviour of `DefaultFilesMiddleware` doesn't seem quite right when used in conjunction with `EmbeddedFileProvider` and subpaths. Specifically if my url was "localhost:3000/static/client/" and my `EmbeddedFileProvider`s `baseNamespace` was setup to point to `static`,  I would expect that translate through to and look for "localhost:3000/static/client/index.html"... this is not the case however

[2017-01-03 06:53] Tratcher commented on #164
Yes, this is a known limitation of EmbeddedFileProvider and that's where any enhancements would need to be made.

[2017-01-03 17:22] avanderhoorn commented on #164
I'm happy to bring this up there, but before putting further energy into this, I wanted to see if there is any desire to support this use case?

[2017-01-03 17:52] Tratcher commented on #164
It has come up before, though I can't find the thread at the moment. Yes, it would be nice to make it work eventually.

[2017-01-05 03:34] Homory opened #165 "404 status code not returned correctly"
public void Configure(IApplicationBuilder application, ILoggerFactory loggers)
        {
            loggers.AddProviders();
            application.UseSession();
            application.UseStaticFiles();
            application.UseMvc(builder => builder.MapRoutes());
        }
If the "favicon.ico" file NOT exists, status code 404 is not returned, but it goes through routing middleware and then re

[2017-01-05 03:59] Tratcher commented on #165
By design. StaticFiles will serve existing files or else it will pass through because it cannot be sure if a given url was for a missing file or for another endpoint.

Why did you have a route that matched favicon.ico?

[2017-01-05 04:25] Homory commented on #165
My routing middleware will handle all path.
because I'm designing a multilingual site.
"/Home/404a/404b...." will redirect to "/Missing" (en-US)
"/首页/404a/404b...." will redirect to "/丢失" (zh-Hans)
missing static files now redirect to "/Missing"

This is OK.  I'll modify my routing middleware a bit to ignore static files.

[2017-01-06 20:37] dougkpowers opened #166 "Pre-Condition Bug for IfUnModifiedSince"
I believe there is a bug in the ComptueIfModifiedSince() method of the StaticFileContext class.  The following line (213) reads:
`            if (ifUnmodifiedSince.HasValue && ifModifiedSince <= now)`

but should read:
`            if (ifUnmodifiedSince.HasValue && ifUnmodifiedSince <= now)`

[2017-01-06 20:49] Tratcher commented on #166
I think this was already fixed:
https://github.com/aspnet/StaticFiles/commit/8487bf0ae53247be8a270c2e204a7e3c46386c23

[2017-01-06 21:17] dougkpowers commented on #166
Thx.  I was looking in master rather than dev.

[2017-01-06 21:20] #166 closed

[2017-01-11 18:43] muratg commented on #164
This issue was moved to aspnet/FileSystem#255

[2017-01-11 18:43] #164 closed

[2017-01-11 22:55] #163 closed

[2017-01-30 00:29] GuardRex opened #170 "OnPrepareResponse: Is this behavior a bug or by-design?"
I was just taking a look at `OnPrepareResponse` trying setup a `Cache-Control` header with an `immutable` directive only for a group of static assets in a special folder, `ImmutableResourcesFolder`, and on a special path, `/immutable` ...
[code]
... but all static files, including the ones in `wwwroot`, are getting the `Cache-Control` header set from the `OnPrepareResponse`. For example ...

![cap

[2017-01-30 18:43] Tratcher commented on #170
That shouldn't be happening. @mikaelm12 can you repro this?

[2017-01-31 12:26] Flood opened #171 "Response cache not working"
I'm trying to add Cache-Control header to all my static files using this in my startup.cs

[code]
But the Cache-Control header is not set to either images, js or css files.

Anyone that have successfully implemented this?

I'm running an Angular 2 application on the front and using ASP.NET 5 as the 'core'. Can they interfere or something?

[2017-01-31 13:15] mcgiany commented on #171
I got same issue in my ASP Net Core project.
I try this:
[code]

[2017-01-31 13:19] Flood commented on #171
I don't think you can have "Private = true", it must be public.

I have also tried these without luck:

[code]

[2017-01-31 13:49] Flood commented on #171
This one seems to work:

context.Context.Response.Headers.Append("Cache-Control", "public, max-age=2592000");

[2017-01-31 13:49] #171 closed

[2017-01-31 14:57] mcgiany commented on #171
I fix it by moving UseStaticFiles above the UseIdentity.

[2017-01-31 22:44] mikaelm12 commented on #170
I'll take a look

[2017-01-31 23:30] JunTaoLuo commented on #170
Took a quick look and I cannot reproduce the issue. Seems like the immutable cache headers are only added when the second static files middleware is serving the response. I'm using an older dotnet cli though but I don't think that should be a problem. @GuardRex is there anything else in your `Configure`?

[2017-01-31 23:31] Tratcher commented on #170
A full repro app would help

[2017-01-31 23:34] GuardRex commented on #170
I'll try again. I see disabled code for ...
[code]
... as long as it was commented at the time I tested, it's fine. Let me try again and make sure that was the case.

[2017-01-31 23:43] GuardRex commented on #170
My bad. I screwed the pooch :dog2: on this one. I was doing a lot of messing around that day with this, and I must have run the test app with that code enabled.

Sorry guys.

[2017-01-31 23:43] #170 closed

[2017-02-15 12:34] dfaivre commented on #7
With Angular (2) creating *.gz files when doing --prod builds, it would be great to have this out of the box.

[2017-02-15 12:36] RehanSaeed commented on #7
Other related use cases are serving pre-brotli compressed (.br) files and also serving WebP (.webp) files instead of PNG/JPG/etc.

[2017-02-17 13:54] Tratcher commented on #7
@JohannesRudolph you should now be able to combine ResponseCachine, ResponseCompression, and StaticFiles to achieve dynamic compression and caching of static files. @JunTaoLuo this would be a good combo to test.

[2017-02-17 13:59] Tratcher commented on #7
Can folks clarify if they expect the original url to contain the compression extension (e.g. ".gz")? Some of the above samples do and some don't. I assume content negotiation based on accept headers would be the more general case.

[2017-02-17 14:03] JohannesRudolph commented on #7
Great! Content-negotiation is (from my experience) the far more often-used
and preferred method.

On Fri, Feb 17, 2017 at 2:59 PM, Chris R <notifications@github.com> wrote:

[2017-02-19 02:07] mifopen opened #175 "DefaultFilesMiddleware doesn't work with encoded path"
Repro:
Embed the following directory structure:

    └───wwwroot
        │
        └───а
            └──index.html
where 'а' is russian letter 'а' (char)1072
Use the folowing code:

[code]
Go to http://localhost:5000/а/ (on server it will be http://localhost:5000/%D0%B0)

Expected index.html content gets displayed
Actual: 404

[2017-02-19 02:12] mifopen commented on #175
This happens because DefaultFilesMiddleware calls
```this._fileProvider.GetDirectoryContents(subpath.Value).Exists``` with ```subpath.Value```, but calls ```this._fileProvider.GetFileInfo(subpath + defaultFileName).Exists``` without ```subpath.Value```.
Example:
request url: http://localhost:5000/%D0%B0
context.Request.Path.ToString(): /%D0%B0
context.Request.Path.Value: /а

[2017-02-20 13:31] dfaivre commented on #7
@Tratcher -- I would not expect the original URL to contain the extension.

Also, looks like the Angular CLI will no longer output the "*.gz" files, so @Tratcher's `ResponseCaching` and `ResponseCompression` solution may be sufficient in that case?

[2017-02-27 22:58] HarelM opened #176 "Allow styling/template/better look-and-feel using external css/js/html"
Hi,

I'm looking into migrating my code from .Net 4.5 WebApi to .Net Core.
This library is far better looking than the default IIS directory browser but it needs a little bit more touch to look good.
I have created for IIS the code to do it but I would rather use this library as is instead of writing my own code.
If there was a way to change the styling using the code somehow it would great as any

[2017-02-28 03:42] Tratcher commented on #176
This can be done by implementing an IDirectoryFormatter and setting it on the options.

[2017-03-06 20:20] HarelM commented on #176
Thanks! managed to make it work. I still think the default styling should be better though (bullets 1 and 2).

[2017-03-18 06:00] dhanilan opened #179 "File names with %20 doesn't get served"
Steps to Reproduce  :

1. Create an Empty dotnet core Wep API project from Visual studio.
2. Add StaticFiles package to the project.
3. Add the following code to the startup.cs Configure Method
[code]
4. Add the folder in the Directory "StaticFiles".
5. Add any file with '%20' in filename . Ex:- 'FileName%20WithPercentEncodedSpace.pdf'
6. Run the application. And browser for the directory  http://

[2017-03-18 06:04] dhanilan commented on #179
Also tried http://localhost:19390/StaticFiles/FileName%2520WithPercentEncodedSpace.pdf . Doesn't work!

[2017-03-18 15:29] Tratcher commented on #179
This isn't unique to %20, you'll have this problem with most escape sequences. When your file names start conflicting with URI syntax there are limits to what will be addressable. Decode the space and it will work fine.

[2017-03-19 08:44] dhanilan commented on #179
@Tratcher  I tried decoding the URI . In this case decodeURI('FileName%20WithPercentEncodedSpace.pdf') results in "FileName WithPercentEncodedSpace.pdf". but get of http://localhost:19390/StaticFiles/FileName WithPercentEncodedSpace.pdf doesn't work!!!! since the file is stored as FileName%20WithPercentEncodedSpace.pdf . I cannot change the filename because it comes from an external system.

[2017-03-23 20:27] firecube commented on #7
@Tratcher do you have an example of combining those three bits of middleware to suit this scenario?

Thank you.

[2017-03-23 20:29] Tratcher commented on #7
@JunTaoLuo can you do a sample?

[2017-03-29 07:18] audacity76 opened #181 "Authentication in OnPrepareResponse"
Hi,

I want some of my static files only accessible when I'm authenticated/logged in. Unfortunately, the user's identity inside the HttpContext of the StaticFileResponseContext isn't filled. Is there a way to enable the authentication?

[2017-03-29 11:32] Tratcher commented on #181
OnPrepareResponse is not a good place to perform authorization. This event only lets you tweak the response before sending it, you cannot prevent the response (except by throwing).

Issue tracking this feature: https://github.com/aspnet/StaticFiles/issues/70

The best way to handle this right now is to move to an MVC controller that matches your path, checks Authorization, and sends the file. @blo

[2017-03-29 17:16] muratg commented on #181
Closing, dup of #70

[2017-03-29 17:16] #181 closed

[2017-03-29 17:23] blowdart commented on #181
Nope, it'd just be returning a FileStreamResult with the appropriate mime type though.

[2017-03-30 09:39] audacity76 commented on #181
@blowdart

Is it a bad idea to just check if the identity cookie is set? Like

[code]

[2017-03-30 10:51] Tratcher commented on #181
You can't do authorization here, the file is still sent, just with a 401 status code.

[2017-03-30 10:52] blowdart commented on #181
And that doesn't check anything except that a cookie, any cookie has the right name. You can't do what you want using the static files middleware.

[2017-03-31 08:17] audacity76 commented on #181
Last try guys...

@Tratcher
Resetting Response Body and ContentLength = 0 prevents sending the file.

@blowdart
Sure, it is only checking for the cookie existence. Is there no easy way to perform a check with identity framework with the given cookies to authenticate the user?

[2017-03-31 13:32] blowdart commented on #181
Honestly this isn't what static files is meant for. I wouldn't try to push auth into it, you're venturing far into unsupported territory and doing that when you want security is a bad idea, and will make kittens cry.

[2017-03-31 21:28] Tratcher commented on #181
I'll write a proper Authorized MVC Controller sample for static files when I get a chance.

[2017-04-01 20:19] mariuszkochanowski opened #183 "Configuring the file hierarchy in a module/feature based application"
What should i do if i want to create module/feature based application that is organized like below:
[code]
I have managed view localization with custom DynamicViewLocationExpander that creates view locations based on namespace of controller, but now i am stuck with configuration of static files.

[2017-04-02 12:22] firecube commented on #7
A small example would be really appreciated here if possible. Thanks in advance.

[2017-04-02 22:59] JunTaoLuo commented on #7
You can take a look at the sample I have created at https://github.com/JunTaoLuo/MiddlewaresSample which uses ResponseCaching, ResponseCompression and StaticFiles to create, cache and serve different representations of the same resource.

Here's the sample output where I made 6 requests to `http://localhost:5000/Foo.txt`. The first was sent with no `Accept-Encoding` header, the second contained `A

[2017-04-03 03:24] Tratcher commented on #7
Hmm, no logs for the compression middleware...

[2017-04-03 21:37] HarelM commented on #176
I have the current code up and running:
[code]
This present the file great and looks very good, but you can't download any file :-(
So I added the following code to allow downlaod:
[code]
But the above code does not accept a formatter so I can't style it...
Any suggestions:
Code can be found here:
https://github.com/IsraelHikingMap/Site/blob/master/IsraelHiking.API/Controllers/BootstrapFontAwesome

[2017-04-03 21:51] HarelM commented on #176
Nevermind, found the relevant needed code (not sure if everything is needed but added it just in case):
It is weird that ```DirectoryBrowserOptions``` is read only while the rest of the proreties are not (which causes the following code not to use initialization list for all of the object)...
[code]

[2017-04-06 15:33] mchender opened #184 "Need ServiceFileProvider similar to ServiceFilterAttribute"
I'd like to be able to retrieve an instance of my file provider from DI similar to how ServiceFilterAttribute works.
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters#servicefilterattribute

[code]

This was discussed in another thread in Entity Framework but since they found a workaround I don't know that anyone followed up submitting the issue here.
https://github.com/aspnet/E

[2017-04-11 14:00] RehanSaeed commented on #159
Any updates on what the story here is going to be for 2.0?

[2017-04-13 00:59] shravan2x opened #187 "Add option to disable appending trailing slashes"
As per the title, I propose a new `AppendTrailingSlash` option.

The docs at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files currently state that `UseDefaultFiles and UseDirectoryBrowser will take the url http://<app>/StaticFiles without the trailing slash and cause a client side redirect to http://<app>/StaticFiles/ (adding the trailing slash). Without the trailing slash re

[2017-04-21 21:49] ChadNedzlek commented on #159
This needs to at least be an option. The overly simplistic algorithm is causing collisions (since changing the file slight slight recently after it was previously modified is totally normal). Which causes our site to just fall apart as we get mismatched JS files. It just broke one of our production deployments, and we have very few options to fix the issue other than to random touch files until th

[2017-04-21 22:04] Tratcher commented on #159
@ChadNedzlek Yours is the first report of this being a problem in the wild. Can you give some more details on how it broke? E.g. before and after examples of the size, date, and etag?

[2017-04-21 22:39] ChadNedzlek commented on #159
Unfortunately, I can't manage to get it to reproduce anymore... I rebuilt all the files and redeployed to our production server to unblock our customers and everything seems to have changed.

I'm not sure what the exact state was, unfortunately, but we'd only changed the file a small bit (and it was only 5800 bytes, which should have fit in the noise of the FileTime), but the browsers were (incorr

[2017-04-24 18:57] Tratcher commented on #181
It will be easier to emulate the static file middleware features in MVC after https://github.com/aspnet/Mvc/pull/6150

[2017-04-26 01:09] sebastienros opened #188 "Headers configuration file"
Like it was done in System.Web I'd like to be able to set default headers like `max-age` per folder.
The first thing I want to do when serving static file is define this header.

An implementation could look for a specific file in the folder the file is served, using the same `FileProvider` as the options. This can already be done using code by altering the `Response` but configuration is better i

[2017-04-28 18:27] #119 closed

[2017-04-28 18:27] #151 closed

[2017-04-28 18:27] #158 closed

[2017-04-28 18:27] #176 closed

[2017-04-28 18:27] #179 closed

[2017-04-28 18:27] #10 closed

[2017-04-28 18:27] #52 closed

[2017-04-28 18:27] #57 closed

[2017-04-28 18:27] #93 closed

[2017-04-29 15:07] kichalla opened #189 "Changing RID from win7-x64 to win-x64 fails tests with exception 'System.DllNotFoundException : Unable to load DLL 'libuv': The specified module could not be found'"
We are trying to move to more generic RIDs like win-x64, but when I change it to that the tests fail with error like

[code]

RIDs are usually used in the application which is targeted for publishing but here we use it in the test project. So why are we using it? removing it fails the tests

[2017-04-29 15:30] Tratcher commented on #189
Have you tried this in Kestrel yet?

[2017-05-09 06:04] oliverjanik commented on #119
This is an issue, I just ran into this today. Please reopen. It took me a while to debug.

Here are my observations:
1) Asp.Net Core gzips css and js bundles without any configuration
2) I've added ResponseCompression to also gzip static SVGs in my project:

[code]
3) When I run this from with VS (IIS Express) I get my SVG's gzipped
4) Why I deploy and this runs under Win 2012 R2 under IIS which h

[2017-05-09 13:55] Tratcher commented on #119
@oliverjanik please open a new issue with details for your repro scenario.

[2017-05-09 14:04] oliverjanik opened #194 "ResponseCompression is ignored under IIS"
Reposted from #119:

This is an issue, I just ran into this today. Please reopen. It took me a while to debug.

Here are my observations:

Asp.Net Core gzips css and js bundles without any configuration
I've added ResponseCompression to also gzip static SVGs in my project:
services.AddResponseCompression(o =>
{
    o.MimeTypes = new[] { "image/svg+xml" };
});

When I run this from with VS (IIS Exp

[2017-05-10 22:59] Tratcher commented on #194
This issue was moved to aspnet/BasicMiddleware#232

[2017-05-10 22:59] #194 closed

[2017-05-11 22:43] jbagga opened #196 "Return a single range instead of a collection from ParseRange"
[ParseRange](https://github.com/aspnet/StaticFiles/blob/dev/shared/Microsoft.AspNetCore.RangeHelper.Sources/RangeHelper.cs#L27) should return a single `RangeItemHeaderValue` (multiple are not supported) instead of `ICollection<RangeItemHeaderValue>`
As a follow up, the caller code in StaticFileContext and FileResultExecutorBase in MVC should be modified.

cc @Tratcher

[2017-05-11 23:21] Tratcher commented on #196
And you can probably combine it with NormalizeRanges.

[2017-06-06 15:28] EvanMulawski opened #201 "Replace Constants.CompletedTask and its usages with Task.CompletedTask"
See [Constants.cs, L20-27](https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNetCore.StaticFiles/Constants.cs#L20).

Now that `Task.CompletedTask` is available, there is no need to create a custom one.

[2017-06-06 18:25] #196 closed

[2017-06-13 21:33] colindembovsky opened #202 "StaticFiles extension serving truncated file for symbolic link"
(Moving from [this issue](https://github.com/dotnet/coreclr/issues/12247))
I have a SPA app that uses an config.json file with the following contents:
[code]
In the Startup.cs file I configure StaticFiles:

[code]

I'm deploying the app in a docker container (`FROM microsoft/aspnetcore:1.1`) using Kubernetes. In the Kubernetes Pod I map a configMap volume to override the config file. Kubernetes cr

[2017-06-13 21:54] Tratcher commented on #202
I doubt StaticFiles is doing any special here. I'd bet you could repro the issue using IFileProvider directly. See IHostingEnvironment.WebRootFileProvider and see if you can read your file as expected.

[2017-06-13 21:56] colindembovsky commented on #202
Thanks @Tratcher - I'm busy digging in now. The FileProvider is providing the length field and StaticFiles is returning 0 - length bytes in the response. I suspect that the length property is being set incorrectly for symlinks. Tracking down the point in the clr where the length is read from the OS to see if there's a workaround.

[2017-06-13 22:56] colindembovsky commented on #202
Yep @Tratcher , I've confirmed it. If you do
[code]
then `fi.Length` is the length of the symlink (as described above), not the lenght of the file! I think this is a bug on the FileInfo object for Unix.

[2017-06-14 05:35] BrennanConroy commented on #202
Here is the change that made unix FileInfo not follow symlinks and a comment about why https://github.com/dotnet/corefx/pull/5020#r47822345

**TLDR;**
FileInfo behavior on Unix matches Windows behavior for symlinks.

[2017-06-14 06:12] colindembovsky commented on #202
Thanks @brennanconroy. So is there an IFileProvider that uses Stat for symlinks so that I get the expected length? I could roll my own if there isn't one, but was hoping you might know of one before I start hacking ☺️!

[2017-06-14 15:01] colindembovsky commented on #202
Turns out it was pretty easy to write my own [IFileProvider](https://github.com/colindembovsky/AzureAureliaDemo/blob/docker/frontend/SymlinkFileProvider.cs) to work around the symlink length issue.

Once that was in place, I just changed Startup.cs:

[code]
Now all is well!

[2017-06-14 15:01] #202 closed

[2017-06-14 22:35] muratg commented on #129
@DamianEdwards @glennc Do we want to do this in 2.0.0? (We may need to as it could be a breaking change.)  If so, priority?

[2017-06-29 20:59] kyse commented on #70
Just to push this along figured I'd throw this out there.

Create a StaticFileAuthorizationRequirement file that inherits IAuthorizationRequirement for developers to build AuthorizationHandleres against.  Not essential, we can realistically pass in any requirement in updated options, there's not really a need for injecting anything specific to this library to the requirement except for is it autho

[2017-07-31 07:57] sunary opened #207 "HTTP Header Range not working on macOS Sierra"
I'm using *FileStreamResult* to stream video in **dotnet core 2.0.0-preview2-006497**
With window 10 and ubuntu, I can seek video but It doesn't work on macOS Sierra.

[2017-07-31 14:55] Tratcher commented on #207
@jbagga

[2017-07-31 16:49] jbagga commented on #207
@sunary Are you able to provide a sample app that is running in to this issue? Which browser are you using?

[2017-07-31 18:05] sunary commented on #207
This is my sample app:
[code]
I check it on **chrome Version 59.0.3071.115** only

[2017-08-01 18:57] jbagga commented on #207
@sunary I used the following [sample app](https://github.com/jbagga/StreamVideo) and was unable to repro on macOS Sierra 10.12.4. Can you provide more details? Feel free to modify my sample.

[2017-08-03 18:42] jbagga commented on #207
@sunary Closing for now as it cannot be reproduced. Feel free to reopen with more details if you are still seeing the issue!

[2017-08-03 18:42] #207 closed

[2017-08-04 03:53] sunary commented on #207
Sorry, your project using **ASP.NET Core 2.0 Preview** and its not working on my mac.

[2017-08-04 04:33] sunary commented on #207
Its worked after completely remove dotnet version 1.0.4. Thanks for your support

[2017-08-04 21:51] jbagga commented on #207
You can add a global.json file specifying the version you want to use to your solution directory
` { "sdk": { "version": "2.0.0-preview2-006497" } }`

You shouldn't have to delete the older SDKs.

[2017-08-08 00:55] sandorfr opened #208 "RangeHelper should be made public"
[RangeHelper](https://github.com/aspnet/StaticFiles/blob/dev/shared/Microsoft.AspNetCore.RangeHelper.Sources/RangeHelper.cs) provides the required parsing logic for Range Header. When we need to implement range support on something else than static files we currently have to copy paste that code. Would be nice if it was made public as it's definitely reusable and tested code.

I understand that wi

[2017-08-08 04:23] Tratcher commented on #208
Honestly for edge cases they're better off copying the code and tailoring it to their scenarios. What we have is very specific to our scenarios. E.g. we choose not to support more than one range.

[2017-08-08 04:30] sandorfr commented on #208
The previous code base was supporting multiple range https://github.com/aspnet/StaticFiles/blob/f0c85abbaf9e9e07bd39bc18943a307dd79a1e0a/shared/Microsoft.AspNetCore.RangeHelper.Sources/RangeHelper.cs

This is the kind of utility function which would make sense to be fully implemented to match the applicable RFC and available publicly in the framework.

However this is not critical so I'll live wit

[2017-08-08 04:30] #208 closed

[2017-08-16 16:37] Eilon opened #210 "After updating ( 1.1 to 2.0 ) the StaticFiles can't be found in the root path."
_From @NMSLanX on August 16, 2017 7:59_

## Question:
1、
         project:    webapi core1.1
         nuget:     Microsoft.AspNetCore.StaticFiles
         file:          wwwroot/Index.html
         ok:          "http://xxxxx/Index.html" return "hello world"
        operation: **right-click "Controller Folder" --> "Add(D)" --> "controller(T)" --> select any and "Add".**
        error:       "http:/

[2017-08-16 16:37] Eilon commented on #210
_From @davidfowl on August 16, 2017 8:0_

Can you provide a sample that worked before that now fails?  Preferably a github repository.

[2017-08-16 16:37] Eilon commented on #210
_From @NMSLanX on August 16, 2017 9:6_

Hi David:
          Here is the github repository.  [#6665](https://github.com/NMSLanX/WebApi_6665).

[2017-08-16 16:37] Eilon commented on #210
_From @davidfowl on August 16, 2017 10:14_

Just for future reference so you know how to diagnose these issues. Turn logging on to a high verbosity level like trace or debug:

Change this line

https://github.com/NMSLanX/WebApi_6665/blob/3f2a5c8603e0803efa6c328a8b8d878a4d189d59/Error/Actual/WebApiOne/WebApiOne/Startup.cs#L46

To:

[code]

The log immediately shows the problem:

[code]

I ran the W

[2017-08-16 22:42] dviry opened #211 "Missing .msg mimetype mapping"
StaticFiles/src/Microsoft.AspNet.StaticFiles/FileExtensionContentTypeProvider.cs

Is missing the Outlook .msg mimetype - currently manually doing the following:

var provider = new FileExtensionContentTypeProvider();
provider.Mappings.Add(".msg", "application/vnd.ms-outlook");

... but I think it would be good to have it included directly in the code.

[2017-08-22 17:09] Tratcher commented on #210
That trailing slash should not be there: `http://localhost:64780/Index.html/` Who is sending that request?

[2017-08-23 03:02] davidfowl commented on #210
@Tratcher it seems to happen automagically. The application is pretty vanilla. Try running it locally.

[2017-08-23 04:35] Tratcher opened #212 "Make Etag generation replaceable"
https://github.com/aspnet/AspNetKatana/pull/71

[2017-08-24 17:22] Tratcher commented on #210
The parameter you're passing in isn't intended to be a default file name, it's intended to be a url segment. `.UseDefaultFiles("/Index.html")` means you only handle default files for urls starting with "/Index.html/" (but it very helpfully will do a redirect to add that trailing slash for you). If I remove that parameter from your sample it works fine, index.html is already one of the default file

[2017-08-24 17:27] Tratcher commented on #210
While confusing, everything here is behaving as intended. Your main issue is that UseDefaultFiles and UseStaticFiles aren't using the same url path. The following works:
[code]

[2017-08-24 18:14] NMSLanX commented on #210
Thanks a lot. :)

[2017-08-25 06:09] davidfowl commented on #210
@Tratcher should we improve the docs?

[2017-08-25 13:36] Tratcher commented on #210
Perhaps, though this is the first time I've seen someone do this in almost 5 years.

[2017-08-25 21:26] davidfowl commented on #210
@Tratcher not many people used the katana static file server https://www.nuget.org/packages/Microsoft.Owin.StaticFiles/. Look at the downloads.

[2017-09-13 09:33] bgever commented on #159
We've hit exactly the same issue in a production environment, and appears to be caused by a browser *feature*, and not the ETag algorithm.

Hitting refresh (with caching enabled) repeatedly should show that sometimes the browser will not reload all static resources from the server, and instead load from cache. In chrome denoted with `(from file cache)` or `(from memory cache)` after the HTTP statu

[2017-09-24 12:35] space-alien opened #214 "Strange 404 when combining UseDefaultFiles and UseStaticFiles"
I want to serve static files from a different folder than `wwwroot`. Let's pretend this folder is named `statics`.

Let's say my default document is `index.html`.

For some reason, the following code results in a 404 if the default document is requested... **UNLESS** I place a redundant `index.html` file in the `wwwroot` folder in my project. (This file must have the same name as the one I want to

[2017-09-24 15:23] Tratcher commented on #214
UseDefaultFiles and UseStaticFiles need to use the same FileProvider so they're both looking in the same place. UseFileSystem is a good shortcut for this, or you can change the default in IHostingEnvironment.WebRootFileProvider.

[2017-09-24 16:51] space-alien commented on #214
Thank you, that makes sense.

I think you might have meant `UseFileServer` in your comment above.

[2017-09-24 20:05] Tratcher commented on #214
Yes, UseFileServer

[2017-09-24 20:05] #214 closed

[2017-09-26 22:36] muratg commented on #129
@Tratcher Backlogging this for now.

[2017-09-26 22:38] muratg commented on #184
@danroth27 @DamianEdwards thoughts?

[2017-09-26 22:42] muratg commented on #189
Closing... If this is still an issue, please reopen.

[2017-09-26 22:42] #189 closed

[2017-09-26 22:45] muratg commented on #211
I don't think we'll be doing this, and the code to manually add the mimetype is pretty straightforward.

cc @Tratcher

[2017-09-26 22:45] #211 closed

[2017-09-27 14:56] danroth27 commented on #184
@Eilon @pranavkm @rynowak

[2017-09-27 15:06] pranavkm commented on #184
For the issue that @mchender is running in to, `IConfigureOptions` would be a better way to get to it rather than using the static field:

[code]

If we do make this a first class feature (and I'm not entirely convinced we should), it would be consistent to ensure Hosting `IHostingEnvironment.ContentRootFileProvider \ WebRootFileProvider` and StaticFiles also support this.

[2017-09-27 19:29] rynowak commented on #184
It would be amazing to have `Configure<TOptions, TArg1>(Action<TOptions, TArg1>)` where `TArg1` is resolved from services. Basically the code that @pranavkm provided except the `Configure` method calls your delegate and is provided by the options system.

We have to write these classes like this all of the time in MVC and it's tedious.

/cc @davidfowl  is this something that was discuussed?

[2017-09-29 09:33] davidfowl commented on #184
It's not a bad idea but its noisy because you have to specify all generic arguments. @HaoK recently made registering `IConfigureOptions` a bit nicer in 2.1. You can do this now:

Old:
[code]

New:

[code]

/cc @HaoK

[2017-09-29 16:09] mchender commented on #184
@pranavkm that provides a workaround for the question in this post. Is there some equivalent workaround which would allow me to get around having to pass an instance of my file provider when configuring the hosting environment?

`
IFileProvider fileProvider = new CacheFileProvider();
services.AddSingleton<IHostingEnvironment>(new HostingEnvironment
{
       ApplicationName =  applicationEnvironmen

[2017-09-29 16:16] rynowak commented on #184
But you still have to write the class:
[code]

5/7 loc of that are boilerplate. Feels bad man

[2017-09-29 16:26] Tratcher commented on #184
Still not sure why this discussion is in this repo...

[2017-09-29 16:28] mchender commented on #184
@Tratcher based on this comment
https://github.com/aspnet/EntityFrameworkCore/issues/4544#issuecomment-184794032

[2017-09-29 17:22] mchender commented on #184
@pranavkm  you can ignore my follow up question. It looks like I don't have to set WebRootFileProvider on the HostingEnvironment for the application to work properly. I made the changes you suggested and I was able to get DI to resolve the services I need in CacheFileInfo. Here's the commit.
https://github.com/mchender/Entropy/commit/7405b5965d86c793f81b05c44908a611a4813b6a

My issues are resolved

[2017-09-29 18:34] HaoK commented on #184
Ok, we could add a new generic base configure, maybe something like:

`services.ConfigureFromDI<TOptions, TDependency>(Action<TOptions> configure)`

which would register as transient something like:
[code]

If the configure options needs more than one dependency, to use this sugar you'd have to wrap them and register it and get them out as properties?

[code]

[2017-09-29 19:07] davidfowl commented on #184
Leave out the FromDI part it would just be configure with a bunch of overloads for dependencies. We can start with 5 dependencies 😄

[2017-09-29 19:10] HaoK commented on #184
Ok so just have 5 overloads, with 1 to 5 extra args, and they will just roll their own otherwise.  I'll file an issue

[2017-09-29 19:12] HaoK commented on #184
https://github.com/aspnet/Options/issues/236

[2017-10-05 12:35] akashshelke22 opened #216 "How to use pregzipped js files in angular"
I have an angular application. I am using webpack and commonjs. i have minified all js files. Now i have **vendor.js**(angular lib file) of size 888 kb and **vendor.js.gz** 195 kb.
But i don't know how to use this **vendor.js.gz** file.

I also tried to enable compression from iis but no luck. It shows me 'transferred- encoding': chunked in response header instead of 'content-encoding': gzip.

So,

[2017-10-05 13:26] Tratcher commented on #216
This isn't supported. We've done some research on it recently but it looks like it will take some invasive changes in the stack to make it work. We're stuck with dynamic compression for now.

Are you primarily trying to do this to reduce:
A) Deployment size?
B) CPU utilization?
C) Download size?

[2017-10-07 15:34] vanillajonathan opened #217 "StaticFileContext.ValidateMethod wrongly named"
The `ValidateMethod` in the `StaticFileContext` should probably be named `IsValidMethod`.

[2017-10-07 16:32] Tratcher commented on #217
I don't see why. It's doing more work than the IsXXX properties.

[2017-10-07 18:03] vanillajonathan commented on #217
It does not really do any action, it just checks conditions.

It checks if something **is** valid by checking if the HTTP request method **is** a GET or a HEAD.

[2017-10-12 10:58] rlenders commented on #7
@muratg why was this closed?

[2017-10-22 20:55] joeaudette commented on #7
I came across this because I've started using webpack to pre-gzip my js and css.
@resnyanskiy your code set me on the right path, but I wanted to avoid the redirect.

The solution I came up with was implementing a custom IFileProvider based on the code from CompositeFileProvider.

I set it up like this:

    app.UseStaticFiles(new StaticFileOptions()
    {
       OnPrepareResponse = GzipMappingFil

[2017-10-23 01:59] Tratcher commented on #7
That approach sounds like it would mess up the content-length and etag headers.

[2017-10-23 11:35] joeaudette commented on #7
@Tratcher could you elaborate on how that would get messed up? The IFileProvider is passing up the IFileInfo about the gz file so it would have the correct content length of the gz file, isn't that what it should have?

We still have an opportunity to tweak the headers in OnPrepareResponse if there is something messed up, but I'm trying to understand what would be messed up and why.

[2017-10-23 13:48] Tratcher commented on #7
Content-length and gzip are rarely used together because the implications are really confusing. I'll need to verify, but I think the content-length is supposed to be the uncompressed length rather than the compressed length.

StaticFiles also uses the length to calculate the etag, so your pre compressed file will have a different etag than the uncompressed version, even if the contents are the sam

[2017-10-23 13:58] joeaudette commented on #7
@Tratcher that makes sense for dynamic compression, but the issue here is pre-compressed static files and I think we would want content-length for any static file wouldn't we? and it should be used to calculate the etag I would think.

In my scenario the .gz file is created by the webpack build process, while my FileProvider can be configured to generate the .gz file that is a secondary concern, m

[2017-10-23 14:12] joeaudette commented on #7
@Tratcher so are you saying that for my pre-gzipped files I should remove the Content-Length and Accept-Range headers?

[2017-10-24 17:16] Tratcher commented on #7
Never mind on content-length, I re-checked the spec and verified that content-length and transfer-encoding don't mix, but content-encoding is OK.

I still think the Range requests will be broken though, those offsets should be for the un-compressed representation. So yes, at least remove the Accept-Ranges header. I haven't found any spec references to confirm this yet.

[2017-10-24 20:24] joeaudette commented on #7
@Tratcher thanks! I am by no means an expert, but I'm still a little doubtful that I should remove the Accept-Ranges:bytes header.  Other samples I have found for pre-gzipped files seem to include that header.
I would think the offsets sent by the browser would mainly be to recover from partial downloads and get the rest of the file and that would be true even if the file is pre-gzipped.

I found

[2017-10-24 20:38] Tratcher commented on #7
I expect a problem due to the differences between static and dynamic compression. With dynamic compression a range request would be processed against the un-compressed content and then the result would be compressed. With static compression the range request is processed against the compressed content. How is the client supposed to tell the difference? There's no indication in the response that yo

[2017-10-24 20:45] joeaudette commented on #7
@Tratcher I found this on SO, which seems to indicate content-encoding is a property of the entity whereas transfer-encoding is a property of the message, so it would seem logical if dynamic compression used transfer-encoding and pre compressed static files would use content-encoding
https://stackoverflow.com/questions/11641923/transfer-encoding-gzip-vs-content-encoding-gzip

[2017-10-24 20:52] Tratcher commented on #7
The edit on that answer is really telling..
"Edit: That is, unless you want to serve gzipped content to clients that only understand Content-Encoding. Which, unfortunately, seems to be most of them. But be aware that you leave the realms of the spec"

[2017-10-24 21:08] joeaudette commented on #7
yes I saw that, you notice I said it would be logical, not that is how it is done, it sounds like in practice dynamic compression does it wrong, they should use transfer-encoding but they don't because of browsers  :-D

but nevertheless I think it will be ok to keep the Accept-Ranges header
from my previous link I suspect it would work the same way with dynamic compression the offsets would be bas

[2017-10-27 22:57] madskristensen opened #219 "Add support for .webmanifest file extension"
This is used in Progressive Web Apps (PWAs) for the manifest JSON file.

The content type should be `application/manifest+json`

[2017-10-27 23:00] muratg commented on #219
cc @glennc

[2017-10-27 23:13] Tratcher commented on #219
Is there a spec reference?

[2017-10-27 23:24] madskristensen commented on #219
<https://w3c.github.io/manifest/#media-type-registration> shows the content type `application/manifest+json` and a little further down in the same chapter the `.webmanifest` file extension.

Sorry, I should have added this when I opened the bug

[2017-10-30 09:59] RehanSaeed commented on #219
Just saw this issue, I already raised https://github.com/aspnet/StaticFiles/pull/221 to fix this.

[2017-11-11 11:05] SergeySomkov opened #222 "StaticFileContext.SendAsync doesn't catch TaskCanceledException."
After client aborts http request, StreamCopyOperation.CopyToAsync throws TaskCanceledException.
[code]
The exception is not handled inside StaticFileContext.SendAsync. It is handled by Kestrel and it logs the following event:
- Connection id "{ConnectionId}": An unhandled exception was thrown by the application.
- LogLevel: Error
- Category: Microsoft.AspNetCore.Server.Kestrel
- EventId: 13

I'm w

[2017-11-11 11:22] SergeySomkov commented on #222
class TaskCanceledException : OperationCanceledException
Sorry...

[2017-11-15 02:16] sebastienros opened #223 "Extensionless files are not served by default"
Because it's missing an entry in the default `IContentTypeProvider`
Some files like `acme-challenge` (used by Let's Encrypt) or Apple application ids, don't use extensions.

I'd like to know if it could be reconsidered.

[2017-11-15 05:38] Tratcher commented on #223
This acme-challenge spec?
https://github.com/ietf-wg-acme/acme/blob/0b172d509a725336633b9a76998e907a8e0002e3/draft-ietf-acme-acme.md#L1992
This doesn't look like static content, it looks like a dynamic challenge-response handshake.

Apple app ids look like they're domain name based, or am I missing something?
https://developer.apple.com/library/content/documentation/General/Conceptual/DevPedia-Coc

[2017-11-15 17:08] sebastienros commented on #223
This is the set of files I personally needed for Let's Encrypt, you'll notice they don't have extensions

![image](https://user-images.githubusercontent.com/1165805/32849368-cc4acb68-c9e3-11e7-904f-b497687e9931.png)

Here is the documentation on how to configure Stripe with apple pay id (it's not apple application id, my bad)

![image](https://user-images.githubusercontent.com/1165805/32849442-024

[2017-11-15 17:42] sebastienros commented on #223
I can confirm that there is no other way to serve these file than setting `ServeUnknownFileTypes` and optionally `DefaultContentType`. Registering a custom `IContentTypeProvider` and adding `""` or `"."` won't have any effect. So it's all or nothing in this case.

[2017-12-04 09:30] herecydev commented on #7
Adding my implementation into the mix. Use case, client calls `/foo.js` and the `WebRootPath` has `foo.js.gz` or `foo.js.br` and prefers the compressed versions.

[code]

[2018-01-01 21:29] aspnet-hello commented on #223
This issue was moved to aspnet/Home#2438

[2018-01-01 21:29] #223 closed

[2018-01-01 21:30] aspnet-hello commented on #222
This issue was moved to aspnet/Home#2439

[2018-01-01 21:30] #222 closed

[2018-01-01 21:32] aspnet-hello commented on #219
This issue was moved to aspnet/Home#2442

[2018-01-01 21:32] #219 closed

[2018-01-01 21:33] aspnet-hello commented on #217
This issue was moved to aspnet/Home#2443

[2018-01-01 21:33] #217 closed

[2018-01-01 21:33] aspnet-hello commented on #216
This issue was moved to aspnet/Home#2444

[2018-01-01 21:33] #216 closed

[2018-01-01 21:33] aspnet-hello commented on #212
This issue was moved to aspnet/Home#2445

[2018-01-01 21:33] #212 closed

[2018-01-01 21:34] aspnet-hello commented on #210
This issue was moved to aspnet/Home#2446

[2018-01-01 21:34] #210 closed

[2018-01-01 21:36] aspnet-hello commented on #201
This issue was moved to aspnet/Home#2447

[2018-01-01 21:36] #201 closed

[2018-01-01 21:36] aspnet-hello commented on #188
This issue was moved to aspnet/Home#2448

[2018-01-01 21:36] #188 closed

[2018-01-01 21:36] aspnet-hello commented on #187
This issue was moved to aspnet/Home#2449

[2018-01-01 21:36] #187 closed

[2018-01-01 21:38] aspnet-hello commented on #184
This issue was moved to aspnet/Home#2450

[2018-01-01 21:38] #184 closed

[2018-01-01 21:38] aspnet-hello commented on #183
This issue was moved to aspnet/Home#2451

[2018-01-01 21:38] #183 closed

[2018-01-01 21:38] aspnet-hello commented on #175
This issue was moved to aspnet/Home#2452

[2018-01-01 21:38] #175 closed

[2018-01-01 21:39] aspnet-hello commented on #159
This issue was moved to aspnet/Home#2453

[2018-01-01 21:39] #159 closed

[2018-01-01 21:39] aspnet-hello commented on #129
This issue was moved to aspnet/Home#2454

[2018-01-01 21:39] #129 closed

[2018-01-01 21:40] #115 closed

[2018-01-01 21:41] aspnet-hello commented on #111
This issue was moved to aspnet/Home#2456

[2018-01-01 21:41] #111 closed

[2018-01-01 21:41] aspnet-hello commented on #70
This issue was moved to aspnet/Home#2457

[2018-01-01 21:41] #70 closed

[2018-01-01 21:43] aspnet-hello commented on #7
This issue was moved to aspnet/Home#2458

[2018-01-01 21:43] #7 closed

[2018-01-02 22:25] Eilon opened #229 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-02-05 13:55] lumogox commented on #181
@Tratcher Do you have an example of this?

[2018-02-05 15:01] Tratcher commented on #181
@lumogox no, I should do that... Filed https://github.com/aspnet/AuthSamples/issues/28.

[2018-02-05 15:17] lumogox commented on #181
@Tratcher Great!, let me know if you have a quick example that I can look. Thanks!

[2018-04-20 18:44] Tratcher commented on #181
I'm sorry I ever recommended using MVC for this, it is not a good fit. See https://github.com/aspnet/Home/issues/2457#issuecomment-383186581 for discussion and an alternate sample using middleware and pipeline branching.

[2018-07-18 07:36] Cubelaster commented on #158
In my case, I was missing the

[code]

In system.webServer part of my web.config.
Adding that made all the script and the rest of tags to work ok.

[2018-11-21 19:11] #229 closed